<section class="configurar__convite" >
  <h1 class="titulo" style="background:none">Cadastro de Convidados</h1>
  <p style="margin-bottom:46px">
    Para enviarmos os convites virtuais, você deve cadastrar seus convidados. Para isso, informe o nome do
    convidado, o e-mail e o número de acompanhantes.
  </p>
  <p style="margin-bottom:46px">
    A qualquer momento você pode carregar uma planilha configurada com essas informações em um arquivo
    Excel, quantas vezes for necessário. Se preferir cadastre cada convidado um a um utilizando o formulário abaixo.
  </p>
  <form class="form" enctype="multipart/form-data" novalidate>
    <div class="col-3">
      <p class="form__title">
        Convidado(a):
      </p>
      <input type="text" name="local" ng-model="convidado" value="" >
    </div>
    <div class="col-2">
      <p class="form__title">
        Núm. de acompanhantes
      </p>
      <select name="singleSelect" ng-model="aconpanhante">
        <option value="0" selected="true">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="clearfix"></div>

    <p class="form__title">
      E-mail:
    </p>
    <input type="text" name="email" ng-model="emailConvidado" value="">

    <p class="form__title">
      Telefone
    </p>
    <input type="text" name="email" ng-model="telefone" value="" mask="(99) 9 9999-9999">

    <div class="btn btn--save" ng-click="adicionarConvidado()" style="float:right">
      Adicionar
    </div>
    <div class="clearfix"></div>
    <hr>

    <p style="    float: left;    line-height: 52px;">
      Carregue sua lista de convidados em uma planilha aqui:
    </p>
    <div class="btn btn--save" ng-click="adicionarConvidado()" style="float:right">
      Carregar lista
    </div>
    <div class="clearfix"></div>
    <hr>

    <div class="tabela__convidado" ng-if="convidadosCadastrados.length > 0">
      <div class="tabela_convidado_topo">
        <p>
          Convidados cadastrados:
        </p>
        <input type="text" name="name" value="" ng-model="searchText">
      </div>
      <div class="tabela_convidado_header">
        <p>
          Nome
        </p>
        <p>
          E-mail
        </p>
        <p>
          Número acompanhantes
        </p>
      </div>
      <div class="tabela_convidado_single" ng-repeat="(key,value) in convidadosCadastrados  | filter:searchText">
        <p>
          {{value.nome}}
        </p>
        <p>
          {{value.email}}
        </p>
        <p>
          {{value.convidados}}
        </p>
        <i class="fa fa-times-circle-o" ng-click="removeConvidado(key)"></i>
      </div>
    </div>
  </form>
</section>
