<div class="container-fluid" ng-init="checkTemplate()">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="titulo">Cadastro de Convidados</h1>
      <p style="margin-bottom:46px">
        Para enviarmos os convites virtuais, você deve cadastrar seus convidados. Para isso, informe o nome do convidado, o e-mail
        e o número de acompanhantes.
      </p>
      <p style="margin-bottom:46px;position:relative">
        A qualquer momento você pode carregar uma planilha configurada com essas informações em um
        <span ng-mouseover="$scope.exemplo = true" ng-mouseleave="$scope.exemplo = false" style="text-decoration: underline;color: blue;cursor: pointer;">arquivo Excel</span>,
        quantas vezes for necessário. Se preferir cadastre cada convidado um a um utilizando o formulário abaixo.
        <div ng-show="$scope.exemplo" style="position: absolute;z-index: 1;top: 0px;">
          <img src="image/excelExemplo.png" alt="">
        </div>
      </p>
    </div>
    <!-- col-xs-12 -->
  </div>
  <!-- row -->


  <form class="form" enctype="multipart/form-data">

    <div class="row">
      <div class="col-sm-7">
        <p class="form__title">
          Convidado(a):
        </p>
        <input type="text" name="convidado_nome" ng-model="convidado_nome" value="">
      </div>
      <!-- col-sm-7 -->
      <div class="col-sm-3">
        <p class="form__title">
          Núm. de acompanhantes
        </p>
        <select name="convidado_acompanhantes" ng-model="convidado_acompanhantes">
          <option value="0" ng-selected="true">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-5">
        <p class="form__title">
          E-mail:
        </p>
        <input type="text" name="convidado_email" ng-model="convidado_email" value="">
      </div>
      <!-- col-sm-5 -->
      <!--<div class="col-sm-5">
        <p class="form__title">
          Telefone
        </p>
        <input type="text" name="convidado_telefone" ng-model="convidado_telefone" value="" mask="(99) 9? 9999-9999">
      </div>-->
      <!-- col-sm-5 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-3">
        <div class="btn btn--save" ng-click="adicionarConvidado()">
          Adicionar
        </div>
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->

    <hr>

    <div class="row">
      <div class="col-sm-7" ng-model="arquivo" name="arquivo">
        <p style="line-height:52px">
          Carregue sua lista de convidados em uma planilha aqui:
        </p>
      </div>

      <div class="col-sm-3">
        <div class="btn btn--save" style="position: relative;overflow: hidden;cursor: pointer;">
          <span>Carregar lista</span>
          <input type="file" name="xlfile" id="xlf" accept=".ods,.xls,.xlsx" style="position: absolute;top: -36px;left: 0;right: 0;bottom: 0;opacity: 0;filter: alpha(opacity=0);cursor: pointer;width: 100%;height: 91px;padding: 0;margin: 0;z-index: 1;line-height: normal;">
        </div>
      </div>

    </div>


    <hr>

    <div class="row" ng-if="convidado_lista.length > 0">
      <div class="col-sm-10">
        <div class="tabela__convidado">
          <div class="tabela_convidado_topo">
            <p>
              Convidados cadastrados:
            </p>
            <input type="text" name="name" value="" ng-model="searchText">
          </div>
          <!-- tabela_convidado_topo -->
          <div class="tabela_convidado_header">
            <p>
              Nome
            </p>
            <p>
              E-mail
            </p>
            <p>
              Número acompanhantes
            </p>
          </div>
          <!-- tabela_convidado_header -->
          <div class="tabela_convidado_single" ng-repeat="(key,value) in convidado_lista  | filter:searchText">
            <p>
              {{value.nome}}
            </p>
            <p>
              {{value.email}}
            </p>
            <p>
              {{value.convidados}}
            </p>
            <i class="fa fa-times-circle-o" ng-click="removeConvidado(value.Id, key)"></i>
          </div>
          <!-- tabela_convidado_single -->
        </div>
        <!-- tabela__convidado -->
      </div>
      <!-- col-sm-10 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-3 col-sm-offset-7">
        <div class="btn btn--ok">
          <a ng-href="/dashboard/#/save-the-date">Concluir</a>
        </div>
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->
  </form>

</div>
<!-- container-fluid -->