<div class="container-fluid convite__modelos" ng-init="checkTemplate()">
  <div class="row">
    <div class="col-xs-12" ng-if="!configConvite2Ctrl.hasContent">
      <h1 class="titulo titulo--passo2">Escolha o layout do seu convite de casamento</h1>
      <p>Você poderá optar pelos layouts disponibilizados abaixo, bastando clicar sobre o que mais lhe agradar.</p>
      <p>A tipologia usada, pode ser alterada clicando sobre a mesma ou utilizando o menu ao lado.</p>
      <p>Para alterar informções de data, local ou nome dos pais, <a ng-href="/dashboard/#/configurar-convite/">volte à página anterior</a>.</p>
    </div>
    <!--col-xs-12 -->

    <div class="col-xs-12" ng-if="configConvite2Ctrl.hasContent">
      <h1 class="titulo titulo--passo2">Convite configurado</h1>
      <p>Clique em <strong>Editar</strong> para alterar a tipologia.</p>
      <p>Ou clique em <strong>Alterar Convite</strong> para alterar o layout e a tipologia.</p>
    </div>
    <!--col-xs-12 -->

  </div>
  <!--row-->

  <hr>

  <img src="image/loging.gif" alt="Carregando" ng-show="configConvite2Ctrl.cerregando" style="width: 64px;margin: 70px auto;display: block;">

  <!-- Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">{{configConvite2Ctrl.thumbNome}}</h4>
        </div>
        <!--modal-header-->
        <div class="modal-body">
          <img ng-src="{{configConvite2Ctrl.thumbEscolhido}}" alt="" class="img-responsive">
          <hr>
        </div>
        <!--modal-body-->
        <div class="modal-footer">
          <button type="button" class="btn btn--save">
            <a ng-click="configConvite2Ctrl.SalvarConvite()" >Customizar</a>
            </button>
        </div>
        <!--modal-footer-->
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-->

  <div class="row" ng-show="configConvite2Ctrl.hasContent && !configConvite2Ctrl.cerregando">
    <div class="col-xs-9" style="position: relative;width: 1000px;padding: 0;margin-left: 10px;" ng-init="$scope.blocoActive = 'bloco_pais_noiva'">

      <img ng-src="{{configConvite2Ctrl.layoutSelecionado}}" alt="">

      <!-- #REGION BLOCOS -->

      <p class="bloco_pais_noiva bloco" ng-style="configConvite2Ctrl.bloco_pais_noiva" ng-bind-html="configConvite2Ctrl.conteudo_pais_noiva"></p>

      <p class="bloco_pais_noivo bloco" ng-style="configConvite2Ctrl.bloco_pais_noivo" ng-bind-html="configConvite2Ctrl.conteudo_pais_noivo"></p>

      <p class="bloco_msg_1 bloco" ng-style="configConvite2Ctrl.bloco_msg_1" ng-bind-html="configConvite2Ctrl.conteudo_msg1"></p>

      <p class="bloco_nome_dos_noivos bloco" ng-style="configConvite2Ctrl.bloco_nome_dos_noivos" ng-bind-html="configConvite2Ctrl.conteudo_nomecasal"></p>

      <p class="bloco_msg_2 bloco" ng-style="configConvite2Ctrl.bloco_msg_2" ng-bind-html="configConvite2Ctrl.conteudo_msg2"></p>

      <p class="bloco_msg_personalizada_style bloco" ng-style="configConvite2Ctrl.bloco_msg_personalizada_style" ng-bind-html="configConvite2Ctrl.bloco_msg_personalizada"></p>

      <p class="bloco_cerimonia bloco" ng-style="configConvite2Ctrl.bloco_cerimonia" ng-bind-html="configConvite2Ctrl.conteudo_msg4"></p>

      <!-- #ENDREGION BLOCOS -->
    </div>
    <!-- col-xs-12 -->
  </div>
  <!-- row -->

  <div class="row" ng-hide="configConvite2Ctrl.hasContent || configConvite2Ctrl.cerregando">
    <div class="col-md-12">
      <ul class="lista__convites">
        <li ng-repeat="imagem in configConvite2Ctrl.thumbs">
          <a ng-click="configConvite2Ctrl.SetConvite(imagem.ID,imagem.nome,imagem.url)" data-toggle="modal" data-target="#myModal">
            <img ng-src="{{imagem.url}}" alt="" class="convite__thumb img-responsive">
          </a>
        </li>
      </ul>
    </div>
    <!--col-md-10-->
  </div>
  <!--row-->

  <!-- confirmacao -->
  <div class="modal fade" id="confirmacao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="confirmacaoLabel">Alterar Convite</h4>
        </div>
        <!--modal-header-->
        <div class="modal-body">
          <p>
            Ao alterar o modelo do convite todo conteúdo salvo será perdido.<br> Deseja continuar?
          </p>
        </div>
        <!--modal-body"-->
        <div class="modal-footer row">
          <div class="col-md-6">
            <button type="button" class="btn btn--ok" data-dismiss="modal">Não</button>
          </div>
          <!--col-md-6-->
          <div class="col-md-6">
            <button type="button" class="btn btn--save" ng-click="configConvite2Ctrl.AlterarConvite()">Sim</button>
          </div>
          <!--col-md-6-->
        </div>
        <!--modal-footer-->
      </div>
      <!--modal-content-->
    </div>
    <!--modal-dialog-->
  </div>
  <!--modal-->

  <div class="row" style="margin-top: 50px;" ng-show="configConvite2Ctrl.hasContent && !configConvite2Ctrl.cerregando">
    <div class="col-sm-3">
      <div class="btn btn--ok" data-toggle="modal" data-target="#confirmacao">
        Alterar convite
      </div>
    </div>
    <!-- col-sm-3 -->
    <div class="col-sm-3">
      <div class="btn btn--ok">
        <a ng-href="/dashboard/#/personalizar-convite">Editar</a>
      </div>
    </div>
    <!-- col-sm-3 -->
  </div>
  <!-- row -->
</div>
<!--container-fluid-->