<div class="container-fluid" ng-init="checkTemplate()">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="titulo">Informações Adicionais</h1>
      <p style="margin-bottom:46px">
        As informações abaixo aparecerão no aplicativo do seu casamento, que seus convidados irão baixar para confirmar presença
        e obter informações da cerimônia e festa.
      </p>

      <h3><strong>Recepção</strong></h3>
      <p>
        Preencha as informações sobre a recepção do seu casamento.
      </p>
    </div>
    <!-- col-xs-12 -->
  </div>
  <!-- row -->

  <form class="form" ng-init="$scope.change = false">
    <div class="row" style="margin-top:24px">
      <img src="image/loging.gif" alt="Carregando" ng-show="!eventoCtrl.showCerimonia" style="width: 32px;display: block;margin-left: 15%;">
      <div class="col-xs-12" ng-show="eventoCtrl.showCerimonia">
        <p class="form__title">
          Mesmo local da cerimônia?
        </p>
        <div class="input__radio">
          <span>
            <input type="radio" ng-model="eventoCtrl.festa_igual_cerimonia" value="false" ng-checked="eventoCtrl.festa_igual_cerimonia == 'false'" ng-change="$scope.change = true">
             Não
          </span>
          <span>
            <input type="radio" ng-model="eventoCtrl.festa_igual_cerimonia" value="true" ng-checked="eventoCtrl.festa_igual_cerimonia == 'true'" ng-change="$scope.change = true">
             Sim
          </span>
        </div>
        <!-- input__radio -->
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <div class="festa_igual_cerimonia" ng-show="eventoCtrl.festa_igual_cerimonia == 'false' && eventoCtrl.showCerimonia">

      <!-- #REGION DADOS DA SERIMONIA -->
      <div class="row">
        <div class="col-sm-7">
          <p class="form__title">
            Nome do local da recepção
          </p>
          <input type="text" ng-model="eventoCtrl.festa_local" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-7 -->

        <div class="col-sm-3">
          <p class="form__title">
            CEP
          </p>
          <input type="text" ng-model="eventoCtrl.festa_cep" ng-change="$scope.change = true" mask="99.999-999" ng-keyup="eventoCtrl.consultFestaCEP(eventoCtrl.festa_cep)">
        </div>
        <!-- col-sm-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-7">
          <p class="form__title">
            Endereço da recepção
          </p>
          <input type="text" ng-model="eventoCtrl.festa_end" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-7 -->
        <div class="col-sm-3">
          <p class="form__title">
            Número
          </p>
          <input type="text" ng-model="eventoCtrl.festa_numero" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-4">
          <p class="form__title">
            Bairro
          </p>
          <input type="text" ng-model="eventoCtrl.festa_bairro" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-4">
          <p class="form__title">
            Cidade
          </p>
          <input type="text" ng-model="eventoCtrl.festa_cidade" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-2">
          <p class="form__title">
            Estado
          </p>
          <input type="text" ng-model="eventoCtrl.festa_uf" ng-change="$scope.change = true" maxlength="2">
        </div>
        <!-- col-sm-2 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-xs-12">
          <p class="form__title">
            Traçar rotas para o local:
          </p>
          <div class="input__radio">
            <span>
              <input type="radio" ng-model="eventoCtrl.festa_rota" value="true" ng-change="$scope.change = true">
                  Sim
            </span>
            <span>
              <input type="radio" ng-model="eventoCtrl.festa_rota" value="false" ng-change="$scope.change = true">
                Não
            </span>
          </div>
          <!-- input__radio -->
        </div>
        <!-- col-xs-12 -->
      </div>
      <!-- row -->
    </div>
    <!-- festa_igual_cerimonia -->
    <div class="row" ng-if="$scope.change">
      <div class="col-sm-3">
        <div class="btn btn--save" style="margin-bottom:24px;" ng-click="eventoCtrl.setDadosEvento(); $scope.change = false">
          Salvar
        </div>
      </div>
      <div class="col-sm-3">
        <div class="btn btn--cancel" ng-click="eventoCtrl.getDadosLocal(); $scope.change = false">
          Cancelar
        </div>
      </div>
    </div>
    <!-- row -->


    <!-- #ENDREGION DADOS DA SERIMONIA -->

    <hr>

    <div class="row">
      <div class="col-xs-12">
        <h3><strong>Hotel</strong></h3>
        <p style="margin-bottom:46px">
          Indique aqui alguns hotéis da cidade para os seus convidados se hospedarem:
        </p>
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <!-- #REGION CADASTRO DE HOTEL -->
    <span style="height: 417px;line-height: 417px;width: 100%;display: block;text-align: center;" ng-show="!eventoCtrl.showHotel">
        <img src="image/loging.gif" alt="Carregando" style="width: 64px;">
    </span>

    <div ng-show="eventoCtrl.showHotel">
      <div class="row">
        <div class="col-sm-7">
          <p class="form__title">
            Nome do hotel*
          </p>
          <input type="text" ng-model="eventoCtrl.hotel_local">

        </div>
        <!-- col-sm-7 -->
        <div class="col-sm-3">
          <p class="form__title">
            CEP
          </p>
          <input type="text" ng-model="eventoCtrl.hotel_cep" mask="99.999-999" ng-keyup="eventoCtrl.consultCEPHotel(eventoCtrl.hotel_cep)">
        </div>
        <!-- col-sm-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-7">
          <p class="form__title">
            Endereço do hotel*
          </p>
          <input type="text" ng-model="eventoCtrl.hotel_end">
        </div>
        <!-- col-sm-7 -->
        <div class="col-sm-3">
          <p class="form__title">
            Número
          </p>
          <input type="text" ng-model="eventoCtrl.hotel_numero">
        </div>
        <!-- col-sm-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-4">
          <p class="form__title">
            Bairro*
          </p>
          <input type="text" ng-model="eventoCtrl.hotel_bairro">
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-4">
          <p class="form__title">
            Cidade*
          </p>
          <input type="text" ng-model="eventoCtrl.hotel_cidade">
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-2">
          <p class="form__title">
            Estado*
          </p>
          <input type="text" ng-model="eventoCtrl.hotel_uf" maxlength="2">
        </div>
        <!-- col-sm-4 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-3">
          <p class="form__title">
            Telefone*
          </p>
          <input type="text" ng-model="eventoCtrl.hotel_telefone" mask="(99) 9? 9999-9999">
        </div>
        <!-- col-sm-3 -->
        <div class="col-sm-3">
          <p class="form__title">
            E-mail
          </p>
          <input type="email" ng-model="eventoCtrl.hotel_email">
        </div>
        <!-- col-sm-3 -->
        <div class="col-sm-4">
          <p class="form__title">
            Site
          </p>
          <input type="url" ng-model="eventoCtrl.hotel_site" http-prefix>
        </div>
        <!-- col-sm-4 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-4">
          <p class="form__title">
            Traçar rotas para o local:
          </p>
          <div class="input__radio">
            <span>
            <input type="radio"  ng-model="eventoCtrl.hotel_rota" value="sim" >
            Sim
            </span>
            <span>
            <input type="radio"  ng-model="eventoCtrl.hotel_rota" value="nao" >
             Não
             </span>
          </div>
          <!-- input__radio -->
        </div>
        <!-- col-sm-3 -->

        <div class="col-sm-3 col-sm-offset-3">
          <div class="btn" ng-click="eventoCtrl.adicionarHotel()" ng-class="(eventoCtrl.hotel_local && eventoCtrl.hotel_end && eventoCtrl.hotel_bairro && eventoCtrl.hotel_cidade && eventoCtrl.hotel_uf && eventoCtrl.hotel_telefone) ? ' btn--save':'btn--disable'">
            Adicionar
          </div>
          <!-- btn -->
        </div>
        <!-- col-sm-3 -->
      </div>
    </div>
    <!-- row -->
    <!-- #ENDREGION CADASTRO DE HOTEL -->

    <!-- #REGION LISTA DE HOTEL -->
    <div class="row">
      <div class="col-sm-10">
        <div class="tabela" ng-show="eventoCtrl.hotel_lista.length > 0">
          <div class="tabela__header">
            Hotéis cadastrados:
          </div>
          <!-- tabela__header -->
          <div class="tabela__item" ng-repeat="(key,value) in eventoCtrl.hotel_lista">
            <p>
              {{value.Local}}
            </p>
            <span ng-click="eventoCtrl.removeHotel(value.Id,key)">X Remover</span>
          </div>
          <!-- tabela__item -->
        </div>
        <!-- tabela -->
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->
    <!-- #ENDREGION LISTA DE HOTEL -->

    <hr>

    <div class="row">

      <!-- #REGION CADASTRO DE SALAO -->
      <div class="col-xs-12">
        <h3><strong>Salão de Beleza</strong></h3>
        <p style="margin-bottom:46px">
          Você pode indicar alguns salões de beleza para o conforto de suas convidadas:
        </p>
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <span style="height: 417px;line-height: 417px;width: 100%;display: block;text-align: center;" ng-show="!eventoCtrl.showSalao">
        <img src="image/loging.gif" alt="Carregando" style="width: 64px;">
    </span>

    <div ng-show="eventoCtrl.showSalao">
      <div class="row">
        <div class="col-sm-7">
          <p class="form__title">
            Nome do salão*
          </p>
          <input type="text" ng-model="eventoCtrl.salao_local">

        </div>
        <!-- col-sm-7 -->
        <div class="col-sm-3">
          <p class="form__title">
            CEP
          </p>
          <input type="text" ng-model="eventoCtrl.salao_cep" mask="99.999-999" ng-keyup="eventoCtrl.consultCEPSalao(eventoCtrl.salao_cep)">
        </div>
        <!-- col-sm-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-7">
          <p class="form__title">
            Endereço do salão*
          </p>
          <input type="text" ng-model="eventoCtrl.salao_end">
        </div>
        <!-- col-sm-7 -->
        <div class="col-sm-3">
          <p class="form__title">
            Número
          </p>
          <input type="text" ng-model="eventoCtrl.salao_numero">
        </div>
        <!-- col-sm-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-4">
          <p class="form__title">
            Bairro*
          </p>
          <input type="text" ng-model="eventoCtrl.salao_bairro">
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-4">
          <p class="form__title">
            Cidade*
          </p>
          <input type="text" ng-model="eventoCtrl.salao_cidade">
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-2">
          <p class="form__title">
            Estado*
          </p>
          <input type="text" ng-model="eventoCtrl.salao_uf">
        </div>
        <!-- col-sm-6 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-3">
          <p class="form__title">
            Telefone*
          </p>
          <input type="text" ng-model="eventoCtrl.salao_telefone" mask="(99) 9? 9999-9999">
        </div>
        <!-- col-sm-3 -->
        <div class="col-sm-3">
          <p class="form__title">
            E-mail
          </p>
          <input type="email" ng-model="eventoCtrl.salao_email">
        </div>
        <!-- col-sm-3 -->
        <div class="col-sm-4">
          <p class="form__title">
            Site
          </p>
          <input type="url" ng-model="eventoCtrl.salao_site" http-prefix>
        </div>
        <!-- col-sm-4 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-4">
          <p class="form__title">
            Traçar rotas para o local:
          </p>
          <div class="input__radio">
            <span>
            <input type="radio"  ng-model="eventoCtrl.salao_rota" value="sim" >
            Sim
          </span>
            <span>
            <input type="radio"  ng-model="eventoCtrl.salao_rota" value="nao" >
            Não
          </span>
          </div>
          <!-- input__radio -->
        </div>
        <!-- col-sm-3 -->

        <div class="col-sm-3 col-sm-offset-3">
          <div class="btn" ng-click="eventoCtrl.adicionarSalao()" ng-class="(eventoCtrl.salao_local && eventoCtrl.salao_end && eventoCtrl.salao_bairro && eventoCtrl.salao_cidade && eventoCtrl.salao_uf && eventoCtrl.salao_telefone) ? 'btn--save': 'btn--disable'">
            Adicionar
          </div>
          <!-- btn -->
        </div>
        <!-- col-sm-3 -->
        <!-- #ENDREGION CADASTRO DE SALAO -->

      </div>
      <!-- row -->
    </div>


    <div class="row">
      <div class="col-sm-10">
        <!-- #REGION TABELA DE SALAO -->
        <div class="tabela" ng-show="eventoCtrl.salao_lista.length > 0">
          <div class="tabela__header">
            Salões cadastrados:
          </div>
          <!-- tabela__header -->
          <div class="tabela__item" ng-repeat="(key,value) in eventoCtrl.salao_lista">
            <p>
              {{value.Local}}
            </p>
            <span ng-click="eventoCtrl.removeSalao(value.Id,key)">X Remover</span>
          </div>
          <!-- tabela__item -->
        </div>
        <!-- tabela -->
        <!-- #ENDREGION CADASTRO DE SALAO -->
      </div>
      <!-- col-sm-1 -->
    </div>
    <!-- row -->

    <hr>

    <div class="row">
      <div class="col-xs-12">

        <!-- #REGION CADASTRO DA LISTA DE PRESENTE -->
        <h3><strong>Lista de presentes</strong></h3>
        <p style="margin-bottom:46px;position: relative">
          Você pode indicar aqui os links das lojas onde vocês cadastraram seus presentes de casamento. Basta copiar e colar a
          <span ng-init="$scope.urlimage=false" ng-click="$scope.urlimage = !$scope.urlimage" style="float: none;color: blue;text-decoration: underline;margin: 0;cursor: pointer">
            URL do site
          </span>
          <img ng-if="$scope.urlimage" src="./image/urlSite.png" alt="" style="position: absolute;cursor: pointer;top: -150px;right: 0;"
            ng-click="$scope.urlimage = !$scope.urlimage">
        </p>
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <span style="height: 84px;line-height: 84px;width: 100%;display: block;text-align: center;" ng-show="!eventoCtrl.showPresente">
        <img src="image/loging.gif" alt="Carregando" style="width: 32px;">
    </span>

    <div ng-show="eventoCtrl.showPresente">
      <div class="row">
        <div class="col-sm-5">
          <p class="form__title">
            Nome da loja*
          </p>
          <input type="text" ng-model="eventoCtrl.loja_nome">
        </div>
        <!-- col-sm-6 -->
        <div class="col-sm-5">
          <p class="form__title">
            URL da loja*
          </p>
          <input type="text" ng-model="eventoCtrl.loja_url" http-prefix>
        </div>
        <!-- col-sm-6 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-3 col-sm-offset-7">
          <div class="btn" ng-click="eventoCtrl.adicionarUrl()" ng-class="(eventoCtrl.loja_nome &&eventoCtrl.loja_url) ? 'btn--save' : 'btn--disable'">
            Adicionar
          </div>
        </div>
        <!-- col-sm-3  -->
      </div>
      <!-- row -->
    </div>
    <!-- #ENDREGION CADASTRO DE LISTA DE PRESENTE -->

    <!-- #REGION LISTA DA LISTA DE PRESENTE -->
    <div class="row">
      <div class="col-sm-10">
        <div class="tabela" ng-show="eventoCtrl.loja_lista.length > 0">
          <div class="tabela__header">
            Lojas cadastrados:
          </div>
          <!-- tabela__header -->
          <div class="tabela__item" ng-repeat="(key,value) in eventoCtrl.loja_lista">
            <p>
              {{value.Nome}}
            </p>
            <span ng-click="eventoCtrl.removeUrl(value.Id,key)">X Remover</span>
          </div>
          <!-- tabela__item -->
        </div>
        <!-- tabela -->
      </div>
      <!-- col-sm-10 -->
    </div>
    <!-- row -->
    <!-- #ENDREGION LISTA DA LISTA DE PRESENTE -->

    <hr>

    <!-- #REGION CADASTRO CARDAPIO -->
    <div class="row">
      <div class="col-xs-12">
        <h3><strong>Cardápio</strong></h3>
        <p style="margin-bottom:46px;position:relative" ng-init="$scope.cardapido_exemplo = false">
          Descreva aqui o cardápio que será usado na sua festa de casamento, para manter os seus convidados ainda mais informados.
          Basta escrever o texto corrido. <a href="" ng-click="$scope.cardapido_exemplo = !$scope.cardapido_exemplo">Clique aqui</a>          para visualizar um exemplo de como ele aparecerá no aplicativo de seus convidados.
          <img src="image/cardapido_exemplo.png" alt="Cardapio Exemplo" style="position: absolute;z-index: 1;left: 159px;top: -98px;"
            ng-if="$scope.cardapido_exemplo" ng-click="$scope.cardapido_exemplo = false">
        </p>
      </div>
      <!-- col-xs-12 -->

      <span style="height: 358px;line-height: 358px;width: 100%;display: block;text-align: center;" ng-show="!eventoCtrl.showCardapio">
        <img src="image/loging.gif" alt="Carregando" style="width: 64px;">
    </span>
    </div>
    <!--row-->
    <div ng-show="eventoCtrl.showCardapio">
      <div class="row">
        <div class="col-sm-10">
          <p class="form__title">
            Título da etapa*
          </p>
          <input type="text" ng-model="eventoCtrl.cardapio_title" placeholder="Ex.: Entrada, pratos, acompanhamento, sobremesa, bebidas, etc">

          <p class="form__title">
            Descrição do cardápio*
          </p>
          <textarea ng-model="eventoCtrl.cardapio_descricao" placeholder="Ex.: Capeletti recheado com molho à bolonhesa e rondelli quatro queijos com molho branco."></textarea>
        </div>
        <!--col-sm-10-->
      </div>
      <div class="row">
        <div class="col-sm-3 col-sm-offset-7">
          <div class="btn" ng-click="eventoCtrl.setCardapio()" ng-class="(eventoCtrl.cardapio_title && eventoCtrl.cardapio_descricao) ? 'btn--save' : 'btn--disable'">
            Adicionar
          </div>
        </div>
        <!-- col-sm-3  -->
      </div>
      <!-- row -->
    </div>
    <!-- #ENDREGION CADASTRO CARDAPIO -->


    <!-- #REGION LISTA DA LISTA DE PRESENTE -->
    <div class="row">
      <div class="col-sm-10">
        <div class="tabela" ng-show="eventoCtrl.lista_cardapio.length > 0">
          <div class="tabela__header">
            Cardápio cadastrado:
          </div>
          <!-- tabela__header -->
          <div class="tabela__item" ng-repeat="(key,value) in eventoCtrl.lista_cardapio" style="height:auto">
            <p>
              {{value.Nome}}
            </p>
            <p style="width: 50%;line-height: 1.2;clear:both">
              {{value.Descricao}}
            </p>
            <span ng-click="eventoCtrl.removerCardapio(value.Id,key)">X Remover</span>
            <div class="clearfix"></div>
          </div>
          <!-- tabela__item -->
        </div>
        <!-- tabela -->
      </div>
      <!-- col-sm-10 -->
    </div>
    <!-- row -->
    <!-- #ENDREGION LISTA DA LISTA DE PRESENTE -->

    <hr>

    <div class="row" ng-style="moip__form">
      <div class="col-xs-12">
        <h3>Cotas de lua de mel convertidas em dinheiro.</h3>
        <p>
          Este recurso estará disponível em breve.
        </p>
        <p>
          O Celebri permite que você receba dinheiro ao invés de presentes para usufruir como quiser. Os seus convidados realizam o
          pagamento pelo aplicativo utilizando cartão de crédito e o Celebri cobra uma taxa de conveniência repassada à MoIP,
          que é a intermediadora de pagamentos, e para a administradora do cartão. </p>
        <p>
          Se você tem interesse em receber cotas de lua de mel onde seus convidados podem pagar com cartão de crédito é preciso criar
          uma conta na Moip. Para saber mais sobre a Moip, <a href="https://moip.com.br/" target="_blank" style="color:blue">clique aqui.</a>
        </p>

        <p>
          Ao utilizar essa opção, as taxas cobradas pela Moip já estarão incluídas na taxa de serviço do Celebri. Assim que o pagamento
          for aprovado pela administradora de cartão de crédito, sua conta MoIP será creditada com o valor da cota, descontada
          a nossa taxa de serviço de 6%. Ou seja, para cada cota vendida cobramos uma taxa de serviço de 6% do valor da cota,
          mais R$ 0.69 por transação aprovada.
        </p>

        <p style="color:blue;position:relative;cursor: pointer;" ng-mouseover="$scope.exemplo = true" ng-mouseleave="$scope.exemplo = false">
          Para cada cota vendida, você escolhe se prefere repassar esta taxa ao convidado ou se irá absorvê-la*.

          <div style="position: absolute;color: white;z-index: 1;background: grey;padding: 22px;width: 90%;font-size: 1.6em;top:143px"
            ng-if="$scope.exemplo">
            *Por exemplo, se o seu convidado te pagar R$ 100,00, você pode:
            <ul style="list-style:disc;padding-left:5px">
              <li>
                Escolher que deseja receber R$ 100,00 pela cota, assim, a nossa taxa seria adicionada ao valor da cota e o convidado pagaria
                R$106.
              </li>
              <li>
                Absorver as taxas de serviço: o convidado pagará R$ 100,00 e a taxa de serviço será absorvida por você. Neste caso, você
                receberia R$94,00 pela cota.
              </li>
            </ul>
          </div>
        </p>
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-3">
        <div class="btn btn--ok">
          <a ng-href="/dashboard/#/cadastrar-convidados">Concluir</a>
        </div>
      </div>
      <!-- col-sm-3  -->
    </div>
    <!-- row -->
  </form>
</div>
<!-- container-fluid -->