<div class="container-fluid" ng-init="checkTemplate()">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="titulo">Informações Adicionais</h1>
      <p style="margin-bottom:46px">
        As informações abaixo aparecerão no aplicativo do seu casamento, que seus convidados irão baixar para confirmar presença
        e obter informações da cerimônia e festa.
      </p>

      <h3><strong>Recepção</strong></h3>
      <p>
        Preencha as informações sobre a recepção do seu casamento.
      </p>
    </div>
    <!-- col-xs-12 -->
  </div>
  <!-- row -->

  <form class="form" enctype="multipart/form-data" ng-init="$scope.change = false" novalidate>
    <div class="row" style="margin-top:24px">
      <div class="col-xs-12">
        <p class="form__title">
          Mesmo local da cerimônia?
        </p>
        <div class="input__radio">
          <span><input type="radio" ng-model="festa_igual_cerimonia" name="festa_igual_cerimonia" value="false"  ng-init="festa_igual_cerimonia = 'true'"> Não</span>
          <span><input type="radio" ng-model="festa_igual_cerimonia" name="festa_igual_cerimonia" value="true" ng-checked="true"> Sim</span>
        </div>
        <!-- input__radio -->
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <div class="festa_igual_cerimonia" ng-if="festa_igual_cerimonia != 'true'">

      <!-- #REGION DADOS DA SERIMONIA -->
      <div class="row">
        <div class="col-sm-7">
          <p class="form__title">
            Nome do local da recepção
          </p>
          <input type="text" name="festa_local" ng-model="festa_local" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-7 -->

        <div class="col-sm-3">
          <p class="form__title">
            CEP
          </p>
          <input type="text" name="festa_cep" ng-model="festa_cep" ng-change="$scope.change = true" mask="99.999-999" ng-keyup="consultFestaCEP(festa_cep)">
        </div>
        <!-- col-sm-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-7">
          <p class="form__title">
            Endereço da recepção
          </p>
          <input type="text" name="festa_end" ng-model="festa_end" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-7 -->
        <div class="col-sm-3">
          <p class="form__title">
            Número
          </p>
          <input type="text" name="festa_numero" ng-model="festa_numero" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-4">
          <p class="form__title">
            Bairro
          </p>
          <input type="text" name="festa_bairro" ng-model="festa_bairro" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-6">
          <p class="form__title">
            Cidade
          </p>
          <input type="text" name="festa_cidade" ng-model="festa_cidade" ng-change="$scope.change = true">
        </div>
        <!-- col-sm-6 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-xs-12">
          <p class="form__title">
            Traçar rotas para o local:
          </p>
          <div class="input__radio">
            <span><input type="radio" name="festa_rota" ng-model="festa_rota" value="true" > Sim</span>
            <span><input type="radio" name="festa_rota" ng-model="festa_rota" value="false" > Não</span>
          </div>
          <!-- input__radio -->
        </div>
        <!-- col-xs-12 -->
      </div>
      <!-- row -->

      <div class="row" ng-if="$scope.change">
        <div class="col-sm-3">
          <div class="btn btn--save" style="margin-bottom:24px;" ng-click="setDadosEvento(); $scope.change = false">
            Salvar
          </div>
        </div>
        <div class="col-sm-3">
          <div class="btn btn--cancel" ng-click="getDadosEvento(); $scope.change = false">
            Cancelar
          </div>
        </div>
      </div>
      <!-- row -->
    </div>
    <!-- festa_igual_cerimonia -->

    <!-- #ENDREGION DADOS DA SERIMONIA -->

    <hr>

    <div class="row">
      <div class="col-xs-12">
        <h3><strong>Hotel</strong></h3>
        <p style="margin-bottom:46px">
          Indique aqui alguns hotéis da cidade para os seus convidados se hospedarem:
        </p>
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <!-- #REGION CADASTRO DE HOTEL -->
    <div class="row">
      <div class="col-sm-7">
        <p class="form__title">
          Nome do local do hotel
        </p>
        <input type="text" name="hotel_local" ng-model="hotel_local">

      </div>
      <!-- col-sm-7 -->
      <div class="col-sm-3">
        <p class="form__title">
          CEP
        </p>
        <input type="text" name="hotel_cep" ng-model="hotel_cep" mask="99.999-999" ng-keyup="consultCEPHotel()">
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-7">
        <p class="form__title">
          Endereço do hotel
        </p>
        <input type="text" name="hotel_end" ng-model="hotel_end">
      </div>
      <!-- col-sm-7 -->
      <div class="col-sm-3">
        <p class="form__title">
          Número
        </p>
        <input type="text" name="hotel_numero" ng-model="hotel_numero">
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-4">
        <p class="form__title">
          Bairro
        </p>
        <input type="text" name="hotel_bairro" ng-model="hotel_bairro">
      </div>
      <!-- col-sm-4 -->
      <div class="col-sm-6">
        <p class="form__title">
          Cidade
        </p>
        <input type="text" name="hotel_cidade" ng-model="hotel_cidade">
      </div>
      <!-- col-sm-6 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-4">
        <p class="form__title">
          Traçar rotas para o local:
        </p>
        <div class="input__radio">
          <span><input type="radio" name="hotel_rota" ng-model="hotel_rota" value="sim" > Sim</span>
          <span><input type="radio" name="hotel_rota" ng-model="hotel_rota" value="nao" > Não</span>
        </div>
        <!-- input__radio -->
      </div>
      <!-- col-sm-3 -->

      <div class="col-sm-3 col-sm-offset-3">
        <div class="btn btn--save" ng-click="adicionarHotel()">
          Adicionar
        </div>
        <!-- btn -->
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->
    <!-- #ENDREGION CADASTRO DE HOTEL -->

    <!-- #REGION LISTA DE HOTEL -->
    <div class="row">
      <div class="col-sm-10">
        <div class="tabela" ng-if="hotel_lista.length > 0" >
          <div class="tabela__header">
            Hotéis cadastrados:
          </div>
          <!-- tabela__header -->
          <div class="tabela__item" ng-repeat="(key,value) in hotel_lista">
            <p>
              {{value.Local}}
            </p>
            <span ng-click="removeHotel(value.Id,key)">X Remover</span>
          </div>
          <!-- tabela__item -->
        </div>
        <!-- tabela -->
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->
    <!-- #ENDREGION LISTA DE HOTEL -->

    <hr>

    <div class="row">

      <!-- #REGION CADASTRO DE SALAO -->
      <div class="col-xs-12">
        <h3><strong>Salão de Beleza</strong></h3>
        <p style="margin-bottom:46px">
          Você pode indicar alguns salões de beleza para o conforto de suas convidadas:
        </p>
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-7">
        <p class="form__title">
          Nome do local do salão
        </p>
        <input type="text" name="salao_local" ng-model="salao_local">

      </div>
      <!-- col-sm-7 -->
      <div class="col-sm-3">
        <p class="form__title">
          CEP
        </p>
        <input type="text" name="salao_cep" ng-model="salao_cep" mask="99.999-999" ng-keyup="consultCEPSalao()">
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-7">
        <p class="form__title">
          Endereço do salão
        </p>
        <input type="text" name="salao_end" ng-model="salao_end">
      </div>
      <!-- col-sm-7 -->
      <div class="col-sm-3">
        <p class="form__title">
          Número
        </p>
        <input type="text" name="salao_numero" ng-model="salao_numero">
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-4">
        <p class="form__title">
          Bairro
        </p>
        <input type="text" name="salao_bairro" ng-model="salao_bairro">
      </div>
      <!-- col-sm-4 -->
      <div class="col-sm-6">
        <p class="form__title">
          Cidade
        </p>
        <input type="text" name="salao_cidade" ng-model="salao_cidade">
      </div>
      <!-- col-sm-6 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-4">
        <p class="form__title">
          Traçar rotas para o local:
        </p>
        <div class="input__radio">
          <span><input type="radio" name="salao_rota" ng-model="salao_rota" value="true" > Sim</span>
          <span><input type="radio" name="salao_rota" ng-model="salao_rota" value="false" > Não</span>
        </div>
        <!-- input__radio -->
      </div>
      <!-- col-sm-3 -->

      <div class="col-sm-3 col-sm-offset-3">
        <div class="btn btn--save" ng-click="adicionarSalao()">
          Adicionar
        </div>
        <!-- btn -->
      </div>
      <!-- col-sm-3 -->
      <!-- #ENDREGION CADASTRO DE SALAO -->

    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-10">
        <!-- #REGION TABELA DE SALAO -->
        <div class="tabela" ng-if="salao_lista.length > 0">
          <div class="tabela__header">
            Salões cadastrados:
          </div>
          <!-- tabela__header -->
          <div class="tabela__item" ng-repeat="(key,value) in salao_lista">
            <p>
              {{value.Local}}
            </p>
            <span ng-click="removeSalao(value.Id,key)">X Remover</span>
          </div>
          <!-- tabela__item -->
        </div>
        <!-- tabela -->
        <!-- #ENDREGION CADASTRO DE SALAO -->
      </div>
      <!-- col-sm-1 -->
    </div>
    <!-- row -->

    <hr>

    <div class="row">
      <div class="col-xs-12">

        <!-- #REGION CADASTRO DA LISTA DE PRESENTE -->
        <h3><strong>Lista de presentes</strong></h3>
        <p style="margin-bottom:46px;position: relative">
          Você pode indicar aqui os links das lojas onde vocês cadastraram seus presentes de casamento. Basta copiar e colar a
          <span ng-init="$scope.urlimage=false" ng-click="$scope.urlimage = !$scope.urlimage" style="float: none;color: blue;text-decoration: underline;margin: 0;cursor: pointer">
            URL do site
          </span>
          <img ng-if="$scope.urlimage" src="./image/urlSite.png" alt="" style="position: absolute;cursor: pointer;top: -150px;right: 0;"
            ng-click="$scope.urlimage = !$scope.urlimage">
        </p>
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-5">
        <p class="form__title">
          Nome da loja
        </p>
        <input type="text" name="loja_nome" ng-model="loja_nome">
      </div>
      <!-- col-sm-6 -->
      <div class="col-sm-5">
        <p class="form__title">
          URL da loja
        </p>
        <input type="text" name="loja_url" ng-model="loja_url">
      </div>
      <!-- col-sm-6 -->
    </div>
    <!-- row -->

    <div class="row">
      <div class="col-sm-3 col-sm-offset-7">
        <div class="btn btn--save" ng-click="adicionarUrl()">
          Adicionar
        </div>
      </div>
      <!-- col-sm-3  -->
    </div>
    <!-- row -->
    <!-- #ENDREGION CADASTRO DE LISTA DE PRESENTE -->

    <!-- #REGION LISTA DA LISTA DE PRESENTE -->
    <div class="row">
      <div class="col-sm-10">
        <div class="tabela" ng-if="loja_lista.length > 0">
          <div class="tabela__header">
            Lojas cadastrados:
          </div>
          <!-- tabela__header -->
          <div class="tabela__item" ng-repeat="(key,value) in loja_lista">
            <p>
              {{value.Nome}}
            </p>
            <span ng-click="removeUrl(value.Id,key)">X Remover</span>
          </div>
          <!-- tabela__item -->
        </div>
        <!-- tabela -->
      </div>
      <!-- col-sm-10 -->
    </div>
    <!-- row -->
    <!-- #ENDREGION LISTA DA LISTA DE PRESENTE -->

    <hr>

    <!-- #REGION CADASTRO CARDAPIO -->
    <div class="row">
      <div class="col-xs-12">
        <h3><strong>Cardápio</strong></h3>
        <p style="margin-bottom:46px;position:relative" ng-init="$scope.cardapido_exemplo = false">
          Descreva aqui o cardápio que será usado na sua festa de casamento, para manter os seus convidados ainda mais informados.
          Basta escrever o texto corrido. <a href="" ng-click="$scope.cardapido_exemplo = !$scope.cardapido_exemplo">Clique aqui</a>          para visualizar um exemplo de como ele aparecerá no aplicativo de seus convidados.
          <img src="image/cardapido_exemplo.png" alt="Cardapio Exemplo" style="position: absolute;z-index: 1;left: 159px;top: -98px;"
            ng-if="$scope.cardapido_exemplo" ng-click="$scope.cardapido_exemplo = false">
        </p>
      </div>
      <!-- col-xs-12 -->

      <div class="col-sm-10">
        <p class="form__title">
          Título da etapa
        </p>
        <input type="text" name="cardapio_title" ng-model="cardapio_title" placeholder="Ex.: Entrada, pratos, acompanhamento, sobremesa, bebidas, etc">

        <p class="form__title">
          Descrição do cardápio
        </p>
        <textarea name="cardapio_descricao" ng-model="cardapio_descricao" placeholder="Ex.: Capeletti recheado com molho à bolonhesa e rondelli quatro queijos com molho branco."></textarea>
      </div>
      <!--col-sm-10-->
    </div>
    <!--row-->
    <div class="row">
      <div class="col-sm-3 col-sm-offset-7">
        <div class="btn btn--save" ng-click="setCardapio()">
          Adicionar
        </div>
      </div>
      <!-- col-sm-3  -->
    </div>
    <!-- row -->
    <!-- #ENDREGION CADASTRO CARDAPIO -->


    <!-- #REGION LISTA DA LISTA DE PRESENTE -->
    <div class="row">
      <div class="col-sm-10">
        <div class="tabela" ng-if="lista_cardapio.length > 0">
          <div class="tabela__header">
            Cardápio cadastrado:
          </div>
          <!-- tabela__header -->
          <div class="tabela__item" ng-repeat="(key,value) in lista_cardapio" style="height:auto">
            <p>
              {{value.Nome}}
            </p>
            <p style="width: 50%;line-height: 1.2;clear:both">
              {{value.Descricao}}
            </p>
            <span ng-click="removerCardapio(value.Id,key)">X Remover</span>
            <div class="clearfix"></div>
          </div>
          <!-- tabela__item -->
        </div>
        <!-- tabela -->
      </div>
      <!-- col-sm-10 -->
    </div>
    <!-- row -->
    <!-- #ENDREGION LISTA DA LISTA DE PRESENTE -->

    <hr>

    <div class="row" ng-style="moip__form">
      <div class="col-xs-12">
        <h3>Cotas de lua de mel convertidas em dinheiro.</h3>
        <p>
          Se por acaso você já estiver instalado o aplicativo no seu smartphone, é necessário deletá-lo antes de fazer o novo download.
        </p><br>
        <p>
          O Celebri permite que você receba dinheiro ao invés de presentes para usufruir como quiser. Os seus convidados realizam o
          pagamento pelo aplicativo utilizando cartão de crédito e o Celebri cobra uma taxa de conveniência repassada à MoIP,
          que é a intermediadora de pagamentos, e para a administradora do cartão. </p>
        <p>
          Se você tem interesse em receber cotas de lua de mel onde seus convidados podem pagar com cartão de crédito é preciso criar
          uma conta na Moip. Para saber mais sobre a Moip, <a href="www.moip.com.br" target="_blank" style="color:blue">clique aqui.</a>
        </p>

        <p>
          Ao utilizar essa opção, as taxas cobradas pela Moip já estarão incluídas na taxa de serviço do Celebri. Assim que o pagamento
          for aprovado pela administradora de cartão de crédito, sua conta MoIP será creditada com o valor da cota, descontada
          a nossa taxa de serviço de 6%. Ou seja, para cada cota vendida cobramos uma taxa de serviço de 6% do valor da cota,
          mais R$ 0.69 por transação aprovada.
        </p>

        <p style="color:blue;position:relative;cursor: pointer;" ng-mouseover="$scope.exemplo = true" ng-mouseleave="$scope.exemplo = false">
          Para cada cota vendida, você escolhe se prefere repassar esta taxa ao convidado ou se irá absorvê-la*.

          <span style="position: absolute;color: white;z-index: 1;background: grey;padding: 22px;width: 90%;    font-size: 1.6em;"
            ng-if="$scope.exemplo">
            *Por exemplo, se o seu convidado te pagar R$ 100,00, você pode: Escolher que deseja receber R$ 100,00 pela cota, assim, a
            nossa taxa seria adicionada ao valor da cota e o convidado pagaria R$106. Absorver as taxas de serviço: o convidado
            pagará R$ 100,00 e a taxa de serviço será absorvida por você. Neste caso, você receberia R$94,00 pela cota.
          </span>
        </p>



        <!--<p style="margin-top:26px;margin-top: 26px;display: inline-block;margin-right: 21px;">
          Criar conta Moip para recebimento das cotas?
          <div class="input__radio" style="display: inline-block;">
            <span><input type="radio" name="moip_aceitou" ng-model="moip_aceitou" value="sim" > Sim</span>
            <span><input type="radio" name="moip_aceitou" ng-model="moip_aceitou" value="nao" ng-checked="true"> Não</span>
          </div>
        </p>-->
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <div class="moip_aceitou" ng-if="moip_aceitou == 'sim'" ng-style="moip__form">

      <div class="row">
        <div class="col-xs-12">
          <p style="margin-bottom:48px;margin-top:26px">
            Criar sua conta MoIP é simples e rápido, basta preencher os dados abaixo, aguardar pelo recebimento do email de confirmação,
            validá-lo clicando no link e terminar o cadastro no site da MoIP criando seu login e senha. Guarde bem seu login
            MoIP, pois é necessário acessar o site MoIP para solicitar a transferência para sua conta bancária.
          </p>
        </div>
        <!-- col-xs-12 -->
      </div>
      <!-- row -->

      <div class="row">

        <!-- #REGION CADASTRO MOIP -->
        <div class="col-md-7">
          <p class="form__title">
            Nome do noivo(a)
          </p>
          <input type="text" name="moip_nome" ng-model="moip_nome" ng-change="$scope.change = true">
        </div>
        <!-- col-md-7 -->
        <div class="col-md-3">
          <p class="form__title">
            CPF
          </p>
          <input type="text" name="moip_cpf" ng-model="moip_cpf" ng-change="$scope.change = true" mask="999.999.999-99">
        </div>
        <!-- col-md-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-md-7">
          <p class="form__title">
            Email
          </p>
          <input type="email" name="moip_email" ng-model="moip_email" ng-change="$scope.change = true">
        </div>
        <!-- col-md-7 -->
        <div class="col-md-3">
          <p class="form__title">
            Data de nascimento
          </p>
          <input type="date" name="moip_nascimento" ng-model="moip_nascimento" ng-change="$scope.change = true" mask="99/99/9999" restrict="reject"
            limit="false">
        </div>
        <!-- col-md-3 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-3">
          <p class="form__title">
            CEP
          </p>
          <input type="text" name="moip_cep" ng-model="moip_cep" ng-change="$scope.change = true" mask="99.999-999">
        </div>
        <!-- col-md-3 -->
        <div class="col-sm-7">
          <p class="form__title">
            Rua
          </p>
          <input type="text" name="moip_rua" ng-model="moip_rua" ng-change="$scope.change = true">
        </div>
        <!-- col-md-7 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-2">
          <p class="form__title">
            Número
          </p>
          <input type="text" name="moip_numero" ng-model="moip_numero" ng-change="$scope.change = true">
        </div>
        <!-- col-md-2 -->
        <div class="col-sm-3">
          <p class="form__title">
            Complemento
          </p>
          <input type="text" name="moip_complemento" ng-model="moip_complemento" ng-change="$scope.change = true">
        </div>
        <!-- col-md-3 -->
        <div class="col-sm-5">
          <p class="form__title">
            Bairro
          </p>
          <input type="text" name="moip_bairro" ng-model="moip_bairro" ng-change="$scope.change = true">
        </div>
        <!-- col-md-5 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-3">
          <p class="form__title">
            Estado
          </p>
          <input type="text" name="moip_estado" ng-model="moip_estado" ng-change="$scope.change = true">
        </div>
        <!-- col-md-3 -->
        <div class="col-sm-7">
          <p class="form__title">
            Cidade
          </p>
          <input type="text" name="moip_cidade" ng-model="moip_cidade" ng-change="$scope.change = true">
        </div>
        <!-- col-md-7 -->
      </div>
      <!-- row -->

      <div class="row">
        <div class="col-sm-3">
          <div class="btn btn--ok">
            Salvar
          </div>
        </div>
        <!-- col-sm-3  -->
        <!-- #ENDREGION CADASTRO MOIP -->

      </div>
      <!-- row -->

      <hr>

      <div class="row">
        <div class="col-xs-12">
          <h3><strong>Produtos:</strong></h3>
          <p style="margin-bottom:46px">
            Você pode utilizar os produtos abaixo para ilustrarem suas cotas de lua de mel no aplicativo dos seus convidados.
          </p>
        </div>
        <!-- col-xs-12 -->
      </div>
      <!-- row -->


      <div class="row">

        <div class="produtos__single col-lg-6" ng-repeat="(key,value) in produtos">
          <img ng-src="{{value.urlImage}}" alt="" class="produto_image">

          <div class="produto_desc">
            <p>{{value.nome}}</p>
            <span>{{value.valor}}</span>
            <input type="checkbox" ng-model="value.marcado" name="name" ng-click="checkProduto(value.marcado,value.id)">
          </div>
          <!-- produto_desc -->

          <div class="clearfix"></div>
        </div>
        <!-- produtos__single -->
      </div>
      <!-- row -->
    </div>
    <!-- moip_aceitou -->

    <div class="row">
      <div class="col-sm-3">
        <div class="btn btn--ok">
          <a ng-href="/dashboard/#/cadastrar-convidados">Concluir</a>
        </div>
      </div>
      <!-- col-sm-3  -->
    </div>
    <!-- row -->
  </form>
</div>
<!-- container-fluid -->