<div class="container-fluid dados__header" ng-init="Main.CheckTemplate()">
  <div class="row">
    <div class="col-xs-12 dados_header_title">
      <hr> Parabéns! Você se cadastrou no Celebri.
      <br> Confira seus dados e, se precisar
      <br> basta editá-los abaixo.
      <br>
      <hr>
    </div>
    <!-- dados_header_title -->
  </div>
  <!-- row -->
</div>
<!-- dados__header -->

<div class="image__editor" style="position: fixed;top: 0;left: 0;right: 0;bottom: 0;width: 100%;height: 100%;background: rgba(0, 0, 0, 0.82);z-index: 2;overflow: auto;"
  ng-show="casal.editar">
  <div style="width: 400px;background: white;height: auto;margin: 45px auto; position:relative">
    <div img-src="casal.fotoEditor" ng-image-editor="casal.imageEditor" selected="casal.selected" aspect-ratio="2:2" enabled-resize-selector="true"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-3 col-xs-offset-3">
        <div class="btn btn--save" ng-click="casal.UploadFoto();casal.editar = false">
          Salvar
        </div>
      </div>
      <!--col-xs-3-->
      <div class="col-xs-3">
        <div class="btn btn--cancel" ng-click="casal.editar = false">
          Cancelar
        </div>
      </div>
      <!--col-xs-3-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</div>
<!--image__editor-->

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <form class="form " enctype="multipart/form-data" ng-init="$scope.change = false" ng-submit="casal.SetDadosCasal(); $scope.change = false;casal.fotoAlterada = false"
        name="form">

        <div class="row">
          <div class="col-sm-5">
            <md-input-container class="md-block">
              <label ng-if="Main.generoNoiva == 'M'" class="md-subhead">Nome do Noivo</label>
              <label ng-if="Main.generoNoiva == 'F'" class="md-subhead">Nome da Noiva</label>
              <input aria-label="Nome" type="text" ng-model="casal.nomeNoiva" ng-change="$scope.change = true" required>
            </md-input-container>
          </div>
          <!-- col-xs-5 -->

          <div class="col-sm-5">
            <md-input-container class="md-block">
              <label ng-if="Main.generoNoivo == 'M'" class="md-subhead">Nome do Noivo</label>
              <label ng-if="Main.generoNoivo == 'F'" class="md-subhead">Nome da Noiva</label>
              <input aria-label="Nome" type="text" ng-model="casal.nomeNoivo" ng-change="$scope.change = true" required>
            </md-input-container>
          </div>
          <!-- col-xs-5 -->
        </div>
        <!-- row -->

        <div class="row">
          <div class="col-sm-3">
            <p class="form__title">
              Foto do Casal <br>
            </p>

            <div class="upload__image">
              <div ng-if="!casal.carregando">
                <img id="img" ng-if="casal.foto" ng-src="{{casal.foto}}" alt="Foto Casal">
                <i class="fa fa-camera" ng-if="!casal.foto"></i>
                <input type="file" accept="image/*" onchange="angular.element(this).scope().OpenFile(this)">
              </div>
              <img src="image/loging.gif" alt="Carregando" ng-if="casal.carregando" style="margin-top: 61px;margin-left: auto;margin-right: auto;"
                height="32" width="32">
            </div>
            <!-- upload__image -->
          </div>
          <!-- col-sm-3 -->

          <div class=" col-sm-5 col-sm-offset-2">
            <p class="form__title">
              Data do Casamento
            </p>

            <md-datepicker ng-model="casal.dataCasamento" md-placeholder="Data do casamento" md-open-on-focus ng-change="$scope.change = true"
              required></md-datepicker>
          </div>
          <!-- col-xs-3 -->
        </div>
        <!-- row -->

        <div layout="row" layout-xs="column" layout-sm="column" layout-wrap>
          <md-button class="md-raised md-primary" type="submit" md-colors="{background: 'green'}" ng-if="$scope.change && !casal.errorFile">
            Salvar
          </md-button>
          <md-button class="md-raised md-warn" type="button" ng-click="casal.CasalGetDados(); $scope.change = false;casal.fotoAlterada = false"
            ng-if="$scope.change">
            Cancelar
          </md-button>
          <md-button class="md-raised md-primary md-block" ng-if="!$scope.change" ng-href="cerimonia">
            ok
          </md-button>
        </div>

      </form>
    </div>
    <!-- col-xs-12 -->
  </div>
  <!-- row -->
</div>
<!-- container-fluid -->