<div class="container-fluid" ng-init="checkTemplate()">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="titulo">Enviar convites</h1>
      <p style="margin-bottom:46px">
        Pronto! Você já pode enviar seus convites. Se precisar adicionar mais convidados, basta clicar em “Cadastrar Convidados”
        no menu lateral. Para enviar os convites basta clicar no botão abaixo.
      </p>
    </div>
    <!-- col-sm-12 -->
  </div>
  <!-- row -->
  <div class="row">
    <div class="col-sm-3 col-sm-offset-7">
      <div class="btn btn--save" ng-click="enviar()">
        <a ng-href="/dashboard/#/save-the-date/2">Enviar</a>
      </div>
    </div>
    <!-- col-sm-3 -->
  </div>
  <!-- row -->

</div>
<!-- container-fluid -->