<div class="container-fluid" ng-init="checkTemplate()">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="titulo">
        Enviar convites
      </h1>
      <p>
        Ainda que o Celebri seja uma plataforma digital e de rápida configuração, sugerimos que os convites sejam enviados com antecedência,
        para seus convidados terem tempo suficiente para baixarem o aplicativo e absorverem as informações do seu casamento.
      </p>
      <p>
        Para enviarmos os convites digitais, é necessário efetuar o pagamento de <strong>R$ 185</strong>, utilizando seu
        cartão de crédito. Porém, para os primeiros usuários, iremos cobrar apenas <strong> R$ 10,00</strong>. É isso mesmo,
        envie quantos convites quiser e tenha o aplicativo próprio do seu casamento por apenas <strong>R$ 10,00*</strong>
      </p>
      <p>*Promoção de lançamento, válida por tempo limitado.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-3">
      <div class="btn btn--save">
        <a href="https://celebri.com.br/dashboard/pagamento.html">Enviar</a>
      </div>
    </div>
  </div>

</div>
<!-- container-fluid -->