<div class="container-fluid" ng-init="checkTemplate()">
  <div class="row">
    <div class="col-md-8">
      <h1 class="titulo titulo--passo2">Escolha o layout do seu convite de casamento</h1>
      <p>Você poderá optar pelos layouts disponibilizados abaixo, bastando clicar sobre o que mais lhe agradar.</p>
      <p>A tipologia usada e a mensagem no centro do convite, pode ser alterada clicando sobre a mesma ou utilizando o menu
        ao lado.</p>
      <p>Para alterar informções de data, local ou nome dos pais, volte à página anterior.</p>

    </div>
    <!--col-md-8-->
  </div>
  <!--row-->
    <hr>
</div>
<!--container-fluid-->