<div class="login__bg" ng-init="checkTemplate()">
  <div class="login__box">
    <a href="http://celebri.com.br/" title="Voltar ao Site">
      <img src="image/celebri.png" alt="Celebri" class="login__logo">
    </a>
    <form action="" class="login__form">
      <input type="text" ng-model="nomeUsuario" name="login" placeholder="E-mail" ng-required="required"> <br>
      <input type="password" ng-model="senhaUsuario" name="senha" placeholder="Senha" ng-required="required"><br>
      <input type="submit" value="Fazer Login">
      <div class="clearfix"></div>
    </form>
    <div class="login__text">

      <a href="http://celebri.com.br/" title="Voltar ao Site">← Voltar para Celebri</a>

    </div>
  </div>
  <!-- login__box -->
</div>
<!-- login__bg -->