<div class="login__bg" ng-init="checkTemplate()">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <a href="https://celebri.com.br/">
          <img src="image/celebri.png" alt="Celebri">
        </a>
      </div>
      <!--col-xs-12-->
    </div>
    <!--row-->
    <div class="row">
      <div class="col-xs-12">
        <div class="login__content">
          <div class="login__title">
            <hr>
            <h1>Login</h1>
            <hr>
          </div>
          <!--login__title-->
        </div>
        <!--login__content-->
        <div class="login__box">
          <p class="text-center" ng-show="!loginCtrl.recuperarSenha">Acesse sua conta Celebri.</p><br>
          <div class="erro__box" ng-show="loginCtrl.result == 'false'">
            <p>
              <strong>ERRO:</strong> {{loginCtrl.errorMessage}}
            </p>
          </div>
          <form class="login__form" method="POST" ng-init="loginCtrl.recuperarSenha = false">

            <img src="image/loging.gif" alt="Carregando" style="width: 32px;margin: auto;display: block;" ng-show="loginCtrl.carregando">

            <div class="login_input_group" ng-show="!loginCtrl.recuperarSenha && !loginCtrl.carregando">
              <p>E-mail:</p>
              <input type="text" ng-model="loginCtrl.nomeUsuario" name="login" ng-required="required"> <br>
              <p>Senha:</p>
              <input type="password" ng-model="loginCtrl.senhaUsuario" name="senha" ng-required="required"><br>
              <input ng-if="!loginCtrl.recuperarSenha && !loginCtrl.carregando" type="submit" value="Entrar" ng-click="loginCtrl.Autenticar()">
            </div>

            <div class="login_input_group" ng-show="loginCtrl.recuperarSenha && !loginCtrl.carregando">
              <p ng-show="loginCtrl.confirmacao">Em breve você receberá um email com um link para alterar a senha.</p>

              <div ng-show="!loginCtrl.confirmacao">
                <p class="text-center">Digite o e-mail cadastrado.</p><br><br>
                <p>E-mail:</p>
                <input type="email" ng-model="loginCtrl.recEmail" name="email" ng-required="required"><br>
                <input ng-if="loginCtrl.recuperarSenha && !loginCtrl.carregando" type="submit" value="Enviar" ng-click="loginCtrl.EnviarEmail()">
              </div>
            </div>

            <div class="clearfix"></div>
          </form>
          <div class="login__text">
            <a title="Recuperar Senha" ng-click="loginCtrl.recuperarSenha = !loginCtrl.recuperarSenha;loginCtrl.result = 'true'" ng-show="!loginCtrl.recuperarSenha">Recuperar Senha</a>
            <a title="Recuperar Senha" ng-click="loginCtrl.recuperarSenha = !loginCtrl.recuperarSenha;loginCtrl.confirmacao = false"
              ng-show="loginCtrl.recuperarSenha">
              Voltar
            </a><br><br>
            <a href="https://celebri.com.br/" title="Voltar ao Site">
              ← Voltar para Celebri
            </a>
          </div>
          <!--login__text-->
        </div>
        <!--login__box-->
      </div>
      <!--col-xs-12-->
    </div>
    <!--row-->
  </div>
  <!--container-->

  <div class="container-fluid login__footer">
    <div class="container ">
      <div class="row">
        <div class="col-xs-12 login_logo_footer">
          <a href="https://celebri.com.br/">
            <img src="image/celebri.png" alt="Celebri">
          </a>
        </div>
        <!--col-xs-12-->
      </div>
      <!--row-->
      <div class="row">
        <div class="col-xs-12">
          <nav class="menu__footer">
            <ul>
              <li>
                <a href="https://www.celebri.com.br">Home</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/comofunciona">Como funciona</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/porqueusar">Porque usar?</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/tarifas">Tarifas</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/cotas">Cotas Lua de mel</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/perguntas">Perguntas</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/cadastro">Cadastre-se</a>
              </li>
              <li>
                <a href="https://celebri.com.br/dashboard">Login</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/quemsomos">Quem Somos</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/contato">Contato</a>
              </li>
            </ul>
          </nav>
          <p class="text-center">©2016 - www.celebri.com.br - Um produto da Pixla - Todos os direitos reservados.</p>
        </div>
        <col-xs-12></col-xs-12>
      </div>
      <!--row-->
    </div>
    <!--container-->
  </div>
  <!--login__footer-->
</div>
<!-- login__bg -->