<div class="container-fluid" ng-init="checkTemplate()">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="titulo titulo--passo2">Save the date!</h1>
      <p style="margin-bottom:46px">
        Selecione os destinatários para recebimento deste e-mail.
      </p>
      <p style="margin-bottom:46px">
        Se você já cadastrou seus convidados, basta clicar no botão abaixo para enviar o email com o Save The Date. Se preferir,
        poderá escolher os convidados um a um da lista cadastrada.
      </p>
    </div>
    <!-- col-sm-12 -->
  </div>
  <!-- row -->

  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-sm-10">
          <div class="tabela__convidado">
            <div class="tabela_convidado_topo">
              <p>
                Convidados cadastrados:
              </p>
              <input type="text" name="name" ng-model="date2Ctrl.searchText">
            </div>
            <!-- tabela_convidado_topo -->
            <div class="tabela_convidado_header">
              <p style="width: calc(90%/3);">
                Nome
              </p>
              <p style="width: calc(90%/3);">
                E-mail
              </p>
              <p style="width: calc(90%/3);">
                Status
              </p>
              <input type="checkbox" name="name" ng-model="date2Ctrl.selectedAll" ng-click="date2Ctrl.checkAll()" style="line-height: 22px;width: 20px;height: 20px;position: relative;top: 6px;right: -50px;">
            </div>

            <div class="" style="text-align: center;">
              <img src="image/loging.gif" alt="Carregando" style="width: 64px;" ng-show="date2Ctrl.carregando">
              <p style="width: 100%;font-size: 1.6em;margin: 50px 0;" ng-if="date2Ctrl.convidado_lista.length == 0 && !date2Ctrl.carregando">
                <a ng-href="/dashboard/#/cadastrar-convidados">Cadastre convidados</a> para poder enviar o Save The Date.
              </p>
            </div>

            <!-- tabela_convidado_header -->
            <div class="tabela_convidado_single" ng-repeat="(key,value) in date2Ctrl.convidado_lista  | filter:date2Ctrl.searchText">
              <p style="width: calc(90%/3);">
                {{value.nome}}
              </p>
              <p style="width: calc(90%/3);">
                {{value.email}}
              </p>
              <p style="width: calc(90%/3);">
                {{value.status}}
              </p>
              <input type="checkbox" name="name" ng-model="value.Selected" style="line-height: 22px;width: 20px;height: 20px;position: relative;top: 6px;right: -50px;"
                ng-click="date2Ctrl.checkConvidado(key, value.Id, value.Selected)">
            </div>
            <!-- tabela_convidado_single -->

          </div>
          <!-- tabela__convidado -->
        </div>
        <!-- col-sm-10 -->
      </div>
      <!-- row -->
    </div>
    <!-- col-sm-10 -->
  </div>
  <!-- row -->

  <div class="row" ng-show="date2Ctrl.allowToSend">
    <div class="col-sm-3 col-sm-offset-7">
      <div class="btn btn--save" ng-click="date2Ctrl.enviar();date2Ctrl.selectedAll = false; date2Ctrl.checkAll(); $scope.success = true">
        Enviar
      </div>
    </div>
    <!-- col-sm-3 -->
  </div>
  <!-- row -->
  <div class="row" ng-show="$scope.success" ng-init="$scope.success = false">
    <div class="col-md-10">
      <p class="bg-success" style="padding: 20px;">
        Save The Date enviado!
      </p>
    </div>
  </div>
</div>
<!-- container-fluid  -->