<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="titulo titulo--passo2">Save the date!</h1>
      <p style="margin-bottom:46px">
        Selecione os destinatários para recebimento deste e-mail.
      </p>
      <p style="margin-bottom:46px">
        Se você já cadastrou seus convidados, basta clicar no botão abaixo para enviar o email com o Save The Date. Se preferir, poderá escolher os convidados um a um da lista cadastrada.
      </p>
      <p style="margin-bottom:46px">
        Se ainda não cadastrou os convidados, <a ng-href="/dashboard/#/cadastrar-convidados" style="text-decoration: underline;"></a>clique aqui para concluir o cadastro.
      </p>
    </div><!-- col-sm-12 -->
  </div><!-- row -->

<!-- ng-if="convidado_lista.length > 0" -->
  <div class="row">
    <div class="col-xs-12">
      <div class="row" >
        <div class="col-sm-10">
          <div class="tabela__convidado" >
            <div class="tabela_convidado_topo">
              <p>
                Convidados cadastrados:
              </p>
              <input type="text" name="name" value="" ng-model="searchText">
            </div><!-- tabela_convidado_topo -->
            <div class="tabela_convidado_header">
              <p style="width: calc(90%/2);">
                Nome
              </p>
              <p style="width: calc(90%/2);">
                E-mail
              </p>
              <input type="checkbox" name="name" ng-model="selectedAll" ng-click="checkAll()" style="line-height: 22px;width: 20px;height: 20px;position: relative;top: 6px;right: -50px;">
            </div><!-- tabela_convidado_header -->
            <div class="tabela_convidado_single" ng-repeat="(key,value) in convidado_lista  | filter:searchText">
              <p style="width: calc(90%/2);">
                {{value.nome}}
              </p>
              <p style="width: calc(90%/2);">
                {{value.email}}
              </p>
              <input type="checkbox" name="name" ng-model="" style="line-height: 22px;width: 20px;height: 20px;position: relative;top: 6px;right: -50px;">
            </div><!-- tabela_convidado_single -->
          </div><!-- tabela__convidado -->
        </div><!-- col-sm-10 -->
      </div><!-- row -->
    </div><!-- col-sm-10 -->
  </div><!-- row -->

  <div class="row">
    <div class="col-sm-3 col-sm-offset-7">
      <div class="btn btn--save">
        <a ng-href="/dashboard/#/save-the-date/2">Enviar</a>
      </div>
    </div><!-- col-sm-3 -->
  </div><!-- row -->

</div><!-- container-fluid  -->
