<div class="container-fluid" ng-init="Main.CheckTemplate()">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="titulo titulo--passo1">Save the date!</h1>
      <p style="margin-bottom:46px">
        O Save The Date, é um termo em inglês utilizado para guardar uma data especial em sua agenda. Você pode enviar um email com
        o Save The Date para os seus convidados, avisando-os do seu casamento, antes de enviar os convites.
      </p>
      <p>
        Na mensagem encaminhada você pode comunicar que em breve enviará o convite do casamento pelo email, para que seus convidados
        saibam que irão receber um convite digital.
      </p>
      <p style="margin-bottom:46px">
        Escolha abaixo o layout que preferir.
      </p>
    </div>
    <!--col-sm-12-->
  </div>
  <!-- row -->

  <span ng-show="!saveDate.showDate" style="display: block;text-align: center;height: 300px;line-height: 300px;">
    <img src="image/loging.gif" alt="Carregando" style="width: 64px;">
  </span>

  <div ng-show="saveDate.showDate">
    <div class="row">
      <div class="col-xs-12">
        <div class="save__layout">
          <img src="./image/savethedate/Modelo1.png" alt="" ng-class="{'layout__borda' : saveDate.modelo == '1'}" ng-click=" saveDate.modelo='1'; $scope.change = true">
          <img src="./image/savethedate/Modelo3.png" alt="" ng-class="{'layout__borda' : saveDate.modelo == '3'}" ng-click=" saveDate.modelo='3'; $scope.change = true">
          <img src="./image/savethedate/Modelo8.png" alt="" ng-class="{'layout__borda' : saveDate.modelo == '8'}" ng-click=" saveDate.modelo='8'; $scope.change = true">
        </div>
        <!--save__layout-->
      </div>
      <!-- col-xs-12 -->
    </div>
    <!-- row -->

    <form class="form" action="index.html" method="post">
      <div class="row">
        <div class="col-sm-10">
          <p class="form__title">
            Mensagem:
          </p>
          <textarea class="save__menssage" ng-model="saveDate.mensagem" ng-change="$scope.change = true"></textarea>
        </div>
        <!-- col-sm-10 -->
      </div>
      <!-- row -->
    </form>

    <div class="row">
      <div class="col-sm-3" ng-if="$scope.change">
        <div class="btn btn--save" style="margin-bottom:24px;" ng-click="saveDate.Salvar(); $scope.change = false">
          Salvar
        </div>
      </div>
      <!--col-sm-3-->
      <div class="col-sm-3" ng-if="$scope.change">
        <div class="btn btn--cancel" ng-click="saveDate.GetData(); $scope.change = false">
          Cancelar
        </div>
      </div>
      <div class="col-sm-3 ">
        <div class="btn btn--ok">
          <a ng-href="/dashboard/#/save-the-date/2">Avançar</a>
        </div>
      </div>
      <!-- col-sm-3 -->
    </div>
    <!-- row -->
  </div>
</div>
<!-- container-fluid  -->