<section layout="column" ng-cloak class="dashboard__content">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2>
        Lista de Presentes
      </h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
    <p style="position: relative;">
      Você pode indicar aqui os links das lojas onde vocês cadastraram seus presentes de casamento. Basta copiar e colar a
      <span ng-init="$scope.urlimage=false" ng-click="$scope.urlimage = !$scope.urlimage" style="color: blue;text-decoration: underline;margin: 0;cursor: pointer">
            URL do site
      </span>
      <img ng-show="$scope.urlimage" ng-click="$scope.urlimage = !$scope.urlimage" src="image/urlSite.png" alt="" style="position: absolute;left: 0;top: 0;z-index: 9;cursor: pointer;">
    </p>
    <form name="formCardapio">
      <div>
        <div layout="row" layout-wrap>
          <md-input-container flex="100" flex-gt-sm="50" required>
            <label>Nome da loja</label>
            <input aria-label="Nome da loja" type="text" name="local" ng-model="presentes.dados.ConfiguracaoLojaPresentes.Nome" required>
          </md-input-container>

          <md-input-container flex="100" flex-gt-sm="50" required>
            <label>URL da loja</label>
            <input type="url" aria-label="URL da loja" name="site" ng-model="presentes.dados.ConfiguracaoLojaPresentes.Url" required
              http-prefix>
          </md-input-container>
        </div>
      </div>
      <md-button class="md-raised md-primary" ng-click="presentes.Adicionar()" ng-disabled="formCardapio.$invalid">Adicionar</md-button>

    </form>
  </md-content>
</section>

<section layout="column" ng-cloak class="dashboard__content">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2>
        Lojas Cadastradas
      </h2>
    </div>
  </md-toolbar>

  <div layout="row" layout-padding layout-sm="column" layout-align="space-around" ng-show="presentes.erro && !presentes.carregando">
    <p class="erro">Ocorreu um erro ao tentar acessar o servidor. Por favor, tente novamente.</p>
  </div>
  <div layout="row" layout-padding layout-sm="column" layout-align="space-around" ng-show="presentes.carregando && !presentes.erro">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-list ng-cloak style="max-height: 500px; overflow: auto" ng-hide="presentes.carregando || presentes.erro">
    <md-list-item ng-repeat="loja in presentes.presentes">
      <div class="md-list-item-text">
        <h3>{{loja.Nome}}</h3>
        <p>{{loja.Url}}</p>
      </div>
      <md-button class="md-secondary md-icon-button" ng-click="presentes.Excluir(loja.Id)" aria-label="apagar">
        <i class="fa fa-trash-o" style="font-size: 1.8em;color: red;" aria-hidden="true"></i>
      </md-button>
    </md-list-item>
  </md-list>
</section>