<section layout="column" ng-cloak class="dashboard__content md-whiteframe-z1">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2>
        Cadastrar Cardápio
      </h2>
    </div>
  </md-toolbar>

  <md-content flex layout-padding>
    <p>Descreva aqui o cardápio que será usado na sua festa de casamento, para manter os seus convidados ainda mais informados. Basta escrever o texto corrido.</p>
    <form name="formCardapio">
      <div>
        <div layout="row" layout-wrap>
          <md-input-container flex="100" required>
            <label>Título da etapa</label>
            <input aria-label="Título da etapa" type="text" name="local" ng-model="cardapio.dados.Cardapio.Nome" required placeholder="Ex.: Entrada, pratos, acompanhamento, sobremesa, bebidas, etc">
          </md-input-container>

          <md-input-container flex="100" class="md-block" ng-hide="save.carregando">
            <label>Descrição do cardápio</label>
            <textarea aria-label="Descrição do cardápio" ng-model="cardapio.dados.Cardapio.Descricao" rows="5" md-select-on-focus placeholder="Ex.: Capeletti recheado com molho à bolonhesa e rondelli quatro queijos com molho branco."></textarea>
          </md-input-container>
        </div>

      </div>

      <div layout="row" layout-wrap>
        <md-button class="md-raised md-primary" flex ng-click="hotel.Adicionar()" ng-disabled="formCardapio.$invalid">Adicionar</md-button>
      </div>
    </form>
  </md-content>
</section>

<section layout="column" ng-cloak class="dashboard__content save md-whiteframe-z1">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2>
        Cardápio Cadastrado
      </h2>
    </div>
  </md-toolbar>

  <md-list ng-cloak style="max-height: 500px; overflow: auto">
    <md-list-item ng-repeat="cardapio in cardapio.cardapios">
      <div class="md-list-item-text">
        <h3>{{cardapio.Nome}}</h3>
        <p>{{cardapio.Descricao}}</p>
      </div>
    </md-list-item>
  </md-list>
</section>