<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Remove WWW prefix and redirect to https">
          <match url="(.*)" ignoreCase="true"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" ignoreCase="true"/>
            <add input="{HTTPS}" pattern="off" ignoreCase="true"/>
          </conditions>
          <action type="Redirect" redirectType="Permanent" url="https://celebri.com.br/dashboard/"/>
        </rule>
        <rule name="Main Rule" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="/dashboard/"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
