<section layout="row" flex>
  <div class="sidebar">
    <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')" md-whiteframe="4">
      <div ng-include="'app/convite/personalizar/sidebar.html'"></div>
    </md-sidenav>
  </div>
  <md-content style="margin-left: 250px;" ng-hide="convite.carregando || convite.erro">
    <h1 style="margin-bottom: 32px">Edite o seu convite.</h1>
    <div id="Convite" class="convite_wrapper">

      <img ng-src="{{convite.imageSelected}}" alt="">

      <p class="bloco" ng-style="convite.styles.paisNoiva" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_pais_noiva | raplaceHash"
        ng-click="convite.Controlador.SelectStyle(convite.styles.paisNoiva)" ng-class="{'selected' : (convite.Controlador.HasSelected(convite.styles.paisNoiva))}"></p>

        <p class="bloco" ng-style="convite.styles.paisNoivo" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_pais_noivo | raplaceHash"
          ng-click="convite.Controlador.SelectStyle(convite.styles.paisNoivo)" ng-class="{'selected' : (convite.Controlador.HasSelected(convite.styles.paisNoivo))}"></p>

          <p class="bloco" ng-style="convite.styles.bloco1" ng-bind="convite.dados.DadosFormatacaoConvite.conteudo_msg1" ng-click="convite.Controlador.SelectStyle(convite.styles.bloco1)"
            ng-class="{'selected' : (convite.Controlador.HasSelected(convite.styles.bloco1))}"></p>

            <p class="bloco" ng-style="convite.styles.nomeCasal" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_nomecasal"
              ng-click="convite.Controlador.SelectStyle(convite.styles.nomeCasal)" ng-class="{'selected' : (convite.Controlador.HasSelected(convite.styles.nomeCasal))}"></p>

              <p class="bloco" ng-style="convite.styles.bloco2" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_msg2 | raplaceHash"
                ng-click="convite.Controlador.SelectStyle(convite.styles.bloco2)" ng-class="{'selected' : (convite.Controlador.HasSelected(convite.styles.bloco2))}"></p>

                <textarea name="personalizado" class="bloco" ng-style="convite.styles.bloco3" ng-model="convite.dados.DadosFormatacaoConvite.conteudo_msg3"
                  ng-click="convite.Controlador.SelectStyle(convite.styles.bloco3)" ng-class="{'selected' : (convite.Controlador.HasSelected(convite.styles.bloco3))}"
                  maxlength="144"></textarea>

                  <p class=" bloco" ng-style="convite.styles.bloco4" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_msg4 | raplaceHash"
                    ng-click="convite.Controlador.SelectStyle(convite.styles.bloco4)" ng-class="{'selected' : (convite.Controlador.HasSelected(convite.styles.bloco4))}"></p>

    </div>
    <div class="fixclear"></div>
    <md-button style="line-height: 73px; margin: 50px 0" ui-sref="setup.confirmacao" class="md-primary pull-right" ng-click="convite.Salvar();setup.pessedBy.edicao = true;"
      ng-disabled="casalForm.$invalid">Prosseguir</md-button>
  </md-content>

</section>