<section layout="column" ng-cloak class="dashboard__content" ng-hide="convite.hasConfig">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-button ui-sref="cerimonia">Voltar</md-button>
      <h2>
        Escolha o layout do seu convite de casamento
      </h2>
    </div>
  </md-toolbar>

  <div layout="row" layout-padding layout-sm="column" layout-align="space-around" ng-show="convite.carregando">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>
  <div layout="row" layout-padding layout-sm="column" layout-align="space-around" ng-show="convite.erro && !convite.carregando">
    <p class="erro">Ocorreu um erro ao tentar acessar o servidor. Por favor, tente novamente.</p>
  </div>
  <md-content flex layout-padding ng-hide="convite.carregando || convite.erro" class="convites__lista">
    <p>Você poderá optar pelos layouts disponibilizados abaixo, bastando clicar sobre o que mais lhe agradar.<br> A tipologia
      usada, pode ser alterada clicando sobre a mesma ou utilizando o menu ao lado. <br> Para alterar informações de data,
      local ou nome dos pais, volte à página anterior.</p>

    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
      <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center"
        ng-repeat="thumb in convite.thumbs">
        <img ng-src="{{thumb.url}}" alt="{{thumb.nome}}" ng-click="convite.SelectConvite(thumb.ID,thumb.url)">
        </md-whiteframe>
    </div>

  </md-content>
</section>

<section layout="column" ng-cloak class="dashboard__content" ng-if="convite.hasConfig">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-button ui-sref="cerimonia">Voltar</md-button>
      <h2>
        Convite Selecionado
      </h2>
      <span flex></span>
      <md-button ng-click="convite.hasConfig = false" ng-disabled="!convite.editionEnable">Alterar Modelo</md-button>
      <md-button ui-sref="personalizar" ng-disabled="!convite.editionEnable">Editar</md-button>
    </div>
  </md-toolbar>
  <md-content style="padding:30px 0;" ng-hide="convite.carregando || convite.erro">
    <p layout-padding ng-hide="convite.editionEnable">Não é possível editar o convite depois de enviado.</p>
    <div id="Convite" class="convite_wrapper mostrar_convite">

      <img ng-src="{{convite.imageSelected}}" alt="">

      <p class=" bloco" ng-style="convite.styles.paisNoiva" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_pais_noiva | raplaceHash"></p>

      <p class=" bloco" ng-style="convite.styles.paisNoivo" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_pais_noivo | raplaceHash"></p>

      <p class=" bloco" ng-style="convite.styles.bloco1" ng-bind="convite.dados.DadosFormatacaoConvite.conteudo_msg1"></p>

      <p class=" bloco" ng-style="convite.styles.nomeCasal" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_nomecasal"></p>

      <p class=" bloco" ng-style="convite.styles.bloco2" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_msg2 | raplaceHash"></p>

      <p class=" bloco" ng-style="convite.styles.bloco3" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_msg3 | raplaceHash"></p>

      <p class=" bloco" ng-style="convite.styles.bloco4" ng-bind-html="convite.dados.DadosFormatacaoConvite.conteudo_msg4 | raplaceHash"></p>

    </div>
  </md-content>
</section>

<div class="dialog__bg" ng-show="convite.dialogUp">
  <div role="dialog" class="dialog__content" aria-label="Você quer esse convite?" layout="column" layout-align="center center">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Você quer esse convite?</h2>
      </div>
    </md-toolbar>

    <div class="demo-dialog-content">
      <div>
        <img flex alt="Delicious donut" ng-src="{{convite.imageSelected}}" ng-style="convite.styleDialog" style="padding: 30px;">
      </div>
    </div>

    <div layout="row" class="demo-dialog-button">
      <md-button class="md-raised md-warn" flex="50" ng-click="convite.dialogUp = false;">Não</md-button>
      <md-button class="md-raised md-primary" flex="50" ng-click="convite.Sim()" md-autofocus>Sim!</md-button>
    </div>
  </div>
</div>
<!--dialog__bg-->