<div class="container-fluid" ng-init="Main.CheckTemplate()">

	<md-toolbar md-colors="{background: 'blue-700'}">
		<div class="md-toolbar-tools">
			<h1 class="md-flex">Cadastrar Salão</h1>
		</div>
	</md-toolbar>
	<md-content flex layout-padding>
		<p>Você pode indicar alguns salões de beleza para o conforto de suas convidadas:</p>

		<form class="form" name="formSalao">
			<section class="row">
				<div class="col-sm-7">
					<md-input-container class="md-block">
						<label class="md-subhead">Nome do salão</label>
						<input aria-label="Local da salão" type="text" ng-model="salao.local" required>
					</md-input-container>
				</div>
				<!-- col-sm-7 -->
				<div class="col-sm-4">
					<md-input-container class="md-block">
						<label class="md-subhead">CEP</label>
						<input aria-label="CEP" type="text" ng-model="salao.cep" mask="99.999-999" ng-keyup="salao.ConsultCEP(salao.cep)">
					</md-input-container>
				</div>
				<!-- col-sm-4 -->

				<div class="col-sm-7">
					<md-input-container class="md-block">
						<label class="md-subhead">Endereço</label>
						<input aria-label="Endereço da cerimônia" type="text" ng-model="salao.end" required>
					</md-input-container>
				</div>
				<!-- col-sm-7 -->
				<div class="col-sm-4">
					<md-input-container class="md-block">
						<label class="md-subhead">Número</label>
						<input aria-label="Número" type="text" ng-model="salao.numero" maxlength="20" required>
					</md-input-container>
				</div>
				<!-- col-sm-4 -->
				<div class="col-sm-4">
					<md-input-container class="md-block">
						<label class="md-subhead">Bairro</label>
						<input aria-label="Bairro" type="text" ng-model="salao.bairro" required>
					</md-input-container>
				</div>
				<!-- col-sm-4 -->
				<div class="col-sm-5">
					<md-input-container class="md-block">
						<label class="md-subhead">Cidade</label>
						<input aria-label="Cidade" type="text" ng-model="salao.cidade" required>
					</md-input-container>
				</div>
				<!-- col-sm-5 -->
				<div class="col-sm-2">
					<md-input-container class="md-block">
						<label class="md-subhead">Estado</label>
						<input aria-label="Estado" type="text" ng-model="salao.uf" maxlength="2" required>
					</md-input-container>
				</div>

				<div class="col-sm-2">
					<md-input-container class="md-block">
						<label class="md-subhead">Telefone</label>
						<input aria-label="Telefone" type="text" ng-model="salao.telefone" mask="(99) 9? 9999-9999" required>
					</md-input-container>
				</div>
				<!-- col-sm-4 -->
				<div class="col-sm-4">
					<md-input-container class="md-block">
						<label class="md-subhead">E-mail</label>
						<input aria-label="E-mail" type="email" ng-model="salao.email">
					</md-input-container>
				</div>
				<!-- col-sm-5 -->
				<div class="col-sm-5">
					<md-input-container class="md-block">
						<label class="md-subhead">Site</label>
						<input aria-label="Site" type="url" ng-model="salao.site" http-prefix>
					</md-input-container>
				</div>
				<!-- col-sm-2 -->
				<div class="col-sm-4 col-md-3">
					<md-input-container class="md-block" style="margin-top:0">
						<span class="md-subhead">Traçar rotas para o local</span>
						<md-switch class="md-primary" ng-model="salao.rota" aria-label="Traçar rotas para o local" ng-true-value="'true'" ng-false-value="'false'">
						</md-switch>
					</md-input-container>
				</div>
				<!-- col-sm-3 -->
				<div class="col-xs-12">
					<md-button aria-label="Adicionar salão" class="md-raised md-primary" md-colors="{background: 'green'}" ng-click="salao.Adicionar();salao.ResetForm(formSalao)"
						ng-disabled="formSalao.$invalid">
						Adicionar
					</md-button>
				</div>
				<!--col-xs-12-->
			</section>
		</form>
	</md-content>

	<div class="sk-circle" ng-if="salao.carregando">
		<div class="sk-circle1 sk-child"></div>
		<div class="sk-circle2 sk-child"></div>
		<div class="sk-circle3 sk-child"></div>
		<div class="sk-circle4 sk-child"></div>
		<div class="sk-circle5 sk-child"></div>
		<div class="sk-circle6 sk-child"></div>
		<div class="sk-circle7 sk-child"></div>
		<div class="sk-circle8 sk-child"></div>
		<div class="sk-circle9 sk-child"></div>
		<div class="sk-circle10 sk-child"></div>
		<div class="sk-circle11 sk-child"></div>
		<div class="sk-circle12 sk-child"></div>
	</div>

	<md-toolbar md-colors="{background: 'blue-700'}" ng-show="salao.salaoLista.length > 0 && !salao.carregando">
		<div class="md-toolbar-tools">
			<h1 class="md-flex">Salões Cadastrados</h1>
		</div>
	</md-toolbar>
	<md-content flex layout-padding style="height: 450px;" ng-show="salao.salaoLista.length > 0 && !salao.carregando" id="Lista_Salao">
		<md-list flex>
			<md-list-item class="md-3-line" ng-repeat="(key,value) in salao.salaoLista" style="margin-bottom:20px">
				<div class="md-list-item-text" layout="column">
					<h3>{{value.Local}}</h3>
					<p>
						{{value.Endereco}}, {{value.Numero}} - {{value.Bairro}} <br> {{value.Cidade}}/{{value.Estado}} <br> {{value.Telefone}}
						| {{value.Email}} | {{value.Site}}
					</p>
					<md-button aria-label="Remover Salão" class="md-secondary" type="button" ng-click="salao.Remover(value.Id,key)">
						<i class="fa fa-trash-o" aria-hidden="true" style="font-size: 1.4em;"></i>
					</md-button>
				</div>
				<!--md-3-line-->
			</md-list-item>
		</md-list>
	</md-content>
</div>
<!--container-fluid-->