<div class="container-fluid" ng-init="Main.CheckTemplate()">

  <md-toolbar md-colors="{background: 'blue-700'}">
    <div class="md-toolbar-tools">
      <h1 class="md-flex">Recepção</h1>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <p>
      As informações abaixo aparecerão no aplicativo do seu casamento, que seus convidados irão baixar para confirmar presença
      e obter informações da recepção e recepção.
    </p>

    <form name="formRecepcao">

      <md-input-container class="md-block" style="margin-top:0">
        <span class="md-subhead">Haverá Recepção?</span>
        <md-switch class="md-primary" ng-model="recepcao.confirRecepcao" aria-label="Haverá Recepção?" ng-change="$scope.change = true">
        </md-switch>
      </md-input-container>

      <md-input-container class="md-block" style="margin-top:0" ng-if="recepcao.confirRecepcao">
        <span class="md-subhead">Endereço será no mesmo local da recepção?</span>
        <md-switch class="md-primary" ng-model="recepcao.recepcaoIgualCerimonia" aria-label="Endereço será no mesmo local da recepção?" ng-change="$scope.change = true" ng-true-value="'true'" ng-false-value="'false'">
        </md-switch>
      </md-input-container>

      <section class="row" ng-show="recepcao.recepcaoIgualCerimonia == 'false' && recepcao.confirRecepcao">
        <div class="col-sm-7">
          <md-input-container class="md-block">
            <label class="md-subhead">Nome do local da recepção</label>
            <input aria-label="Local da recepção" type="text" ng-model="recepcao.local" ng-change="$scope.change = true" required>
          </md-input-container>
        </div>
        <!-- col-sm-7 -->
        <div class="col-sm-4">
          <md-input-container class="md-block">
            <label class="md-subhead">CEP</label>
            <input aria-label="CEP" type="text" ng-model="recepcao.cep" ng-change="$scope.change = true" mask="99.999-999" ng-keyup="recepcao.ConsultCEP(recepcao.cep)">
          </md-input-container>
        </div>
        <!-- col-sm-4 -->

        <div class="col-sm-7">
          <md-input-container class="md-block">
            <label class="md-subhead">Endereço da recepção</label>
            <input aria-label="Endereço da recepção" type="text" ng-model="recepcao.end" ng-change="$scope.change = true" required>
          </md-input-container>
        </div>
        <!-- col-sm-7 -->
        <div class="col-sm-4">
          <md-input-container class="md-block">
            <label class="md-subhead">Número</label>
            <input aria-label="Número" type="text" ng-model="recepcao.numero" ng-change="$scope.change = true" maxlength="20" required>
          </md-input-container>
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-4">
          <md-input-container class="md-block">
            <label class="md-subhead">Bairro</label>
            <input aria-label="Bairro" type="text" ng-model="recepcao.bairro" ng-change="$scope.change = true" required>
          </md-input-container>
        </div>
        <!-- col-sm-4 -->
        <div class="col-sm-5">
          <md-input-container class="md-block">
            <label class="md-subhead">Cidade</label>
            <input aria-label="Cidade" type="text" ng-model="recepcao.cidade" ng-change="$scope.change = true" required>
          </md-input-container>
        </div>
        <!-- col-sm-5 -->
        <div class="col-sm-2">
          <md-input-container class="md-block">
            <label class="md-subhead">Estado</label>
            <input aria-label="Estado" type="text" ng-model="recepcao.uf" ng-change="$scope.change = true" maxlength="2" required>
          </md-input-container>
        </div>
        <!-- col-sm-2 -->
        <div class="col-sm-4 col-md-3">
          <md-input-container class="md-block" style="margin-top:0">
            <span class="md-subhead">Traçar rotas para o local</span>
            <md-switch class="md-primary" ng-model="recepcao.rota" aria-label="Traçar rotas para o local" ng-true-value="'true'" ng-false-value="'false'"
              ng-change="$scope.change = true">
            </md-switch>
          </md-input-container>
        </div>
        <!-- col-sm-3 -->
      </section>
      <md-input-container ng-if="$scope.change">
        <md-button class="md-raised md-primary" ng-disabled="formRecepcao.$invalid" type="submit" md-colors="{background: 'green'}">
          Salvar
        </md-button>
        <md-button class="md-raised md-warn" type="button" >
          Cancelar
        </md-button>
      </md-input-container>
    </form>
  </md-content>
</div>
<!--container-fluid-->