<section layout="column" ng-cloak class="dashboard__content enviar md-whiteframe-z1" ng-init="$scope.hasChange = false">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <md-button ui-sref="cerimonia">Voltar</md-button>
      <h2>
        Escolha o layout do seu convite de casamento
      </h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <p>Você poderá optar pelos layouts disponibilizados abaixo, bastando clicar sobre o que mais lhe agradar.</p>
    <p>A tipologia usada, pode ser alterada clicando sobre a mesma ou utilizando o menu ao lado.</p>
    <p>Para alterar informções de data, local ou nome dos pais, volte à página anterior.</p>

    <div layout="row" layout-padding layout-wrap layout-fill style="padding-bottom: 32px;" ng-cloak>
      <md-whiteframe class="md-whiteframe-1dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center" ng-repeat="thumb in convite.thumbs">
        <img ng-src="{{thumb.url}}" alt="{{thumb.nome}}" ng-click="convite.SelectConvite(thumb.id,thumb.url)">
      </md-whiteframe>
    </div>

  </md-content>
</section>

<div class="dialog__bg" ng-show="convite.dialogUp">
  <div role="dialog" class="dialog__content" aria-label="Eat me!" layout="column" layout-align="center center">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Você quer esse convite?</h2>
      </div>
    </md-toolbar>

    <div class="demo-dialog-content">
      <div layout="row">
        <img flex alt="Delicious donut" ng-src="{{convite.imageSelected}}">
      </div>
    </div>

    <div layout="row" class="demo-dialog-button">
      <md-button class="md-raised md-warn" flex="50" ng-click="convite.dialogUp = false;">Não</md-button>
      <md-button class="md-raised md-primary" flex="50" md-autofocus>Sim!</md-button>
    </div>
  </div>
</div>