<div class="login__bg" ng-init="Main.CheckTemplate()">
  <div class="container">

    <div class="row">
      <div class="col-xs-12">
        <a href="https://celebri.com.br/">
          <img src="image/celebri.png" alt="Celebri">
        </a>
      </div>
      <!--col-xs-12-->
    </div>
    <!--row-->
    <div class="row">
      <div class="col-xs-12">
        <div class="login__content">
          <div class="login__title">
            <hr>
            <h1>Login</h1>
            <hr>
          </div>
          <!--login__title-->
        </div>
        <!--login__content-->
        <div class="login__box">
          <p class="text-center" ng-show="!login.recuperarSenha">Acesse sua conta Celebri.</p><br>
          <div class="erro__box" ng-show="login.errorMessage">
            <p>
              <strong>ERRO:</strong> {{login.errorMessage}}
            </p>
          </div>
          <form class="login__form" method="POST" ng-init="login.recuperarSenha = false">

            <div layout="row" layout-padding layout-sm="column" layout-align="space-around" ng-show="login.carregando">
              <md-progress-circular md-mode="indeterminate"></md-progress-circular>
            </div>

            <div class="login_input_group" ng-show="!login.recuperarSenha && !login.carregando">
              <p>E-mail:</p>
              <input type="text" ng-model="login.dados.Autenticacao.Email" name="login" ng-required="required"> <br>
              <p>Senha:</p>
              <input type="password" ng-model="login.dados.Autenticacao.Senha" name="senha" ng-required="required" ng-change="login.dados.Autenticacao.Senha = login.dados.Autenticacao.Senha.split(' ').join('')"><br>
              <input ng-if="!login.recuperarSenha && !login.carregando" type="submit" value="Entrar" ng-click="login.Autenticar()">
            </div>

            <div class="login_input_group" ng-show="login.recuperarSenha && !login.carregando">
              <p ng-show="login.confirmacao">Em breve você receberá um email com um link para alterar a senha.</p>

              <div ng-show="!login.confirmacao">
                <p class="text-center">Digite o e-mail cadastrado.</p><br><br>
                <p>E-mail:</p>
                <input type="email" ng-model="login.recEmail" name="email" ng-required="required"><br>
                <input ng-if="login.recuperarSenha && !login.carregando" type="submit" value="Enviar" ng-click="login.EnviarEmail()">
              </div>
            </div>

            <div class="clearfix"></div>
          </form>
          <div class="login__text">
            <!--<a title="Recuperar Senha" ng-click="login.recuperarSenha = !login.recuperarSenha;login.result = 'true'" ng-show="!login.recuperarSenha">Recuperar Senha</a>-->
            <a title="Recuperar Senha" ng-click="login.recuperarSenha = !login.recuperarSenha;login.confirmacao = false" ng-show="login.recuperarSenha">
              Voltar
            </a><br><br>
            <a href="https://celebri.com.br/" title="Voltar ao Site">
              ← Voltar para Celebri
            </a>
          </div>
          <!--login__text-->
        </div>
        <!--login__box-->
      </div>
      <!--col-xs-12-->
    </div>
    <!--row-->
  </div>
  <!--container-->

  <div class="container-fluid login__footer">
    <div class="container ">
      <div class="row">
        <div class="col-xs-12 login_logo_footer">
          <a href="https://celebri.com.br/">
            <img src="image/celebri.png" alt="Celebri">
          </a>
        </div>
        <!--col-xs-12-->
      </div>
      <!--row-->
      <div class="row">
        <div class="col-xs-12">
          <nav class="menu__footer">
            <ul>
              <li>
                <a href="https://www.celebri.com.br">Home</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/como-funciona">Como funciona</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/porque-usar">Porque usar?</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/tarifas">Tarifas</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/cotas">Cotas Lua de mel</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/perguntas">Perguntas</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/cadastro">Cadastre-se</a>
              </li>
              <li>
                <a href="https://celebri.com.br/dashboard">Login</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/quem-somos">Quem Somos</a>
              </li>
              <li>
                <a href="https://www.celebri.com.br/contato">Contato</a>
              </li>
            </ul>
          </nav>
          <p class="text-center">©2016 - www.celebri.com.br - Um produto da Pixla - Todos os direitos reservados.</p>
        </div>
        <!--col-xs-12-->
      </div>
      <!--row-->
    </div>
    <!--container-->
  </div>
  <!--login__footer-->
</div>
<!-- login__bg -->