<section layout="column" ng-cloak class="dashboard__content md-whiteframe-z1">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2>
        Pagamento
      </h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding>
    <p>
      Ainda que o Celebri seja uma plataforma digital e de rápida configuração, sugerimos que os convites sejam enviados com antecedência,
      para que os convidados possam ter tranquilidade em baixar o aplicativo e acessar todas as informações do seu casamento/evento
      para haver uma melhor interação entre todos. No entanto, é possível enviar convites a qualquer momento, bastando voltar
      nesta página e selecionar o convidado escolhido.
    </p>
    <p>
      Lembramos que os convites digitais somente serão enviados após o pagamento da taxa no valor de R$ 185,00, que deverá ser
      feito por meio de cartão de crédito.
    </p>
    <form name="pagamentoForm">
      <md-input-container class="md-block">
        <label>Nome Completo</label>
        <input ng-model="pgto.dados.nome" aria-label="Nome Completo" type="text" name="nome" required>
      </md-input-container>
      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="50">
          <label>CPF</label>
          <input ng-model="pgto.fiscal.Cpf" aria-label="CPF" type="text" name="cpf" required mask="999.999.999-99">
        </md-input-container>
        <md-input-container flex="100" flex-gt-sm="50">
          <label>E-mail</label>
          <input ng-model="pgto.fiscal.Email" aria-label="E-mail" type="email" name="email" required>
        </md-input-container>
      </div>
      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="70">
          <label>Endereço</label>
          <input ng-model="pgto.dados.endereco" aria-label="Endereço" type="text" name="end" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-sm="30">
          <label>CEP</label>
          <input ng-model="pgto.dados.cep" aria-label="CEP" type="text" name="cep" required mask="99,999-999">
        </md-input-container>
      </div>
      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="70">
          <label>Bairro</label>
          <input ng-model="pgto.dados.bairro" aria-label="Bairro" type="text" name="bairro" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-sm="30">
          <label>Número</label>
          <input ng-model="pgto.dados.numero" aria-label="Número" type="email" name="numero" required>
        </md-input-container>
      </div>
      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="70">
          <label>Cidade</label>
          <input ng-model="pgto.dados.cidade" aria-label="Cidade" type="text" name="cidade" required>
        </md-input-container>
        <md-input-container flex="100" flex-gt-sm="30">
          <label>Estado</label>
          <input ng-model="pgto.dados.estado" aria-label="Estado" type="text" name="estado" required maxlength="2" style="text-transform: uppercase">
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>Número do Cartão</label>
        <input class="cartao" ng-model="pgto.cartao.numero" aria-label="Número do Cartão" type="text" name="numeroCartao" required>
      </md-input-container>
      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="50">
          <label>Validade</label>
          <input ng-model="pgto.cartao.validade" aria-label="Validade" type="text" name="validade" required mask="99/99" placeholder="MM/AA">
        </md-input-container>
        <md-input-container flex="100" flex-gt-sm="50">
          <label>Código de Segurança*</label>
          <input ng-model="pgto.cartao.codigo" aria-label="Código de Segurança*" type="text" name="codigo" required>
        </md-input-container>
      </div>
      <md-button class="md-raised md-primary" ng-click="pgto.Pagar()" >Pagar</md-button>
    </form>
  </md-content>
</section>