<div class="sidebar" ng-controller="SidebarCtrl as sidebar">
  <header class="header">
    <div class="logo__box">
      <img class="logo" src="./image/celebri.png" alt="Celebri">
    </div>
    <!-- logo__box -->

    <div class="name__user" ng-class="{'name__user--active': $scope.clicou}" ng-click="$scope.clicou = !$scope.clicou" ng-init="$scope.clicou = false"
      ng-show="hideSideBar">
      <img class="user__img" ng-src="{{fotoCasal}}" alt="Foto Casal">
      <p>
        Olá, {{sidebar.usuarioLogado}} <i class="fa" ng-class="{ 'fa-angle-down' : $scope.clicou == false , 'fa-angle-up' : $scope.clicou == true  }"></i>
      </p>
    </div>
    <!-- name__user -->

    <div class="user__options" ng-if="$scope.clicou">
      <a rel="nofallow" ng-click="sidebar.Sair()">X Sair</a>
    </div>
    <!-- user__options -->

  </header>

  <nav class="menu" ng-class="{'menu--expandido': $scope.clicou}" ng-show="hideSideBar">
    <navigation menu="sidebar.menu"></navigation>
  </nav>

</div>
<!-- sidebar -->