<section layout="column" ng-cloak class="dashboard__content ">
  <form name="formRecepcao">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2>
          Cerimônia
        </h2>
        <span flex></span>
        <md-button ui-sref="convite" ng-disabled="formRecepcao.$invalid">Avançar</md-button>
      </div>
    </md-toolbar>
    <!--MENSAGEM DE ERRO-->
    <div layout="row" layout-padding layout-sm="column" layout-align="space-around" ng-show="cerimonia.carregando">
      <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div layout="row" layout-padding layout-sm="column" layout-align="space-around" ng-show="cerimonia.erro && !cerimonia.carregando">
      <p class="erro">Ocorreu um erro ao tentar acessar o servidor. Por favor, tente novamente.</p>
    </div>

    <md-content flex layout-padding ng-init="$scope.hasChange = false" ng-hide="cerimonia.carregando || cerimonia.erro">
      <p>
        Preencha as informações da cerimônia
      </p>
      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="80">
          <label>Local da Cerimônia</label>
          <input type="text" name="local" ng-model="cerimonia.dados.ConfiguracaoConvite.Local_cerimonia" ng-change="$scope.hasChange = true"
            required>
            <div ng-messages="formRecepcao.local.$error" ng-if="formRecepcao.local.$touched">
              <div ng-message="required">Você <b>deve</b> preencher este campo.</div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="20">
          <label>CEP</label>
          <input type="text" name="cep" ng-model="cerimonia.dados.ConfiguracaoConvite.Cep" ng-keyup="cerimonia.ConsultCEP()" mask="99.999-999"
            ng-change="$scope.hasChange = true">
        </md-input-container>
      </div>

      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="80">
          <label>Endereço</label>
          <input type="text" name="end" ng-model="cerimonia.dados.ConfiguracaoConvite.Endereco" ng-change="$scope.hasChange = true"
            required>
            <div ng-messages="formRecepcao.end.$error" ng-if="formRecepcao.end.$touched">
              <div ng-message="required">Você <b>deve</b> preencher este campo.</div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="20">
          <label>Número</label>
          <input type="text" name="numero" ng-model="cerimonia.dados.ConfiguracaoConvite.Numero" ng-change="$scope.hasChange = true">
        </md-input-container>
      </div>

      <div layout="row" layout-wrap>
        <md-input-container flex="100" flex-gt-sm="40">
          <label>Bairro</label>
          <input type="text" name="bairro" ng-model="cerimonia.dados.ConfiguracaoConvite.Bairro" ng-change="$scope.hasChange = true"
            required>
            <div ng-messages="formRecepcao.bairro.$error" ng-if="formRecepcao.bairro.$touched">
              <div ng-message="required">Você <b>deve</b> preencher este campo.</div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="40">
          <label>Cidade</label>
          <input type="text" name="cidade" ng-model="cerimonia.dados.ConfiguracaoConvite.Cidade" ng-change="$scope.hasChange = true"
            required>
            <div ng-messages="formRecepcao.cidade.$error" ng-if="formRecepcao.cidade.$touched">
              <div ng-message="required">Você <b>deve</b> preencher este campo.</div>
            </div>
        </md-input-container>

        <md-input-container flex="100" flex-gt-sm="20">
          <label>Estado</label>
          <input type="text" name="estado" maxlength="2" ng-model="cerimonia.dados.ConfiguracaoConvite.Estado" style="text-transform: uppercase;"
            ng-change="$scope.hasChange = true" required>
            <div ng-messages="formRecepcao.estado.$error" ng-if="formRecepcao.cidade.$touched">
              <div ng-message="required">Você <b>deve</b> preencher este campo.</div>
            </div>
        </md-input-container>
      </div>

      <div layout="row" layout-wrap>
        <p flex="100">Horário da Cerimônia</p>
        <md-input-container>
          <label>Hora</label>
          <md-select ng-model="cerimonia.hora" name="hora" ng-change="$scope.hasChange = true" required>
            <md-option ng-repeat="t in Main.GetTimes(24) track by $index" ng-value="{{$index | twoDigits}}">
              {{$index | twoDigits}}
            </md-option>
          </md-select>
          <div ng-messages="formRecepcao.hora.$error" ng-if="formRecepcao.cidade.$touched">
            <div ng-message="required">Você <b>deve</b> selecionar um valor.</div>
          </div>
        </md-input-container>
        <span style="font-size: 2em;display: block;margin: 0 10px;padding-top: 16px;"> : </span>
        <md-input-container>
          <label>Min.</label>
          <md-select ng-model="cerimonia.min" name="min" ng-change="$scope.hasChange = true" required>
            <md-option ng-value="'00'">
              00
            </md-option>
            <md-option ng-repeat="t in Main.GetTimes(4) track by $index" ng-value="$index * 15" ng-hide="$index === 0">
              {{$index * 15 | twoDigits}}
            </md-option>
          </md-select>
          <div ng-messages="formRecepcao.min.$error" ng-if="formRecepcao.cidade.$touched">
            <div ng-message="required">Você <b>deve</b> selecionar um valor.</div>
          </div>
        </md-input-container>
      </div>

      <div layout-padding ng-show="$scope.hasChange">
        <md-button class="md-primary md-raised" ng-click="cerimonia.Salvar();$scope.hasChange = false" ng-disabled="formRecepcao.$invalid">Salvar</md-button>
        <md-button class="md-warn md-raised" ng-click="cerimonia.Cancelar();$scope.hasChange = false">Cancelar</md-button>
      </div>
    </md-content>
  </form>
</section>

<!--NOME DOS PAIS-->
<section layout="column" ng-cloak class="dashboard__content " ng-hide="cerimonia.carregando || cerimonia.erro">
  <md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
      <h2>
        Nome dos pais
      </h2>
    </div>
  </md-toolbar>
  <md-content flex layout-padding ng-init="$scope.paisChange = false">
    <div layout="row">
      <div layout="column" flex>
        <div>
          <md-input-container>
            <label ng-if="cerimonia.genero.noiva === 'f'">Pai da Noiva</label>
            <label ng-if="cerimonia.genero.noiva === 'm'">Pai do Noivo</label>
            <input type="text" name="paiNoiva" ng-model="cerimonia.dados.ConfiguracaoConvite.Pai_noiva" ng-change="$scope.paisChange = true">
          </md-input-container>
          <md-input-container>
            <md-checkbox ng-model="cerimonia.dados.ConfiguracaoConvite.Pai_noiva_in_memoriam" ng-change="$scope.paisChange = true">In Memorian</md-checkbox>
          </md-input-container>
        </div>
        <div>
          <md-input-container flex="grow">
            <label ng-if="cerimonia.genero.noiva === 'f'">Mãe da Noiva</label>
            <label ng-if="cerimonia.genero.noiva === 'm'">Mãe do Noivo</label>
            <input type="text" name="maeNoiva" ng-model="cerimonia.dados.ConfiguracaoConvite.Mae_noiva" ng-change="$scope.paisChange = true"
              ng-true-value="'true'" ng-false-value="'false'">
          </md-input-container>
          <md-input-container>
            <md-checkbox ng-model="cerimonia.dados.ConfiguracaoConvite.Mae_noiva_in_memoriam" ng-change="$scope.paisChange = true" ng-true-value="'true'"
              ng-false-value="'false'">In Memorian</md-checkbox>
          </md-input-container>
        </div>
      </div>
      <div layout="column" flex>
        <div>
          <md-input-container>
            <label ng-if="cerimonia.genero.noivo === 'f'">Pai da Noiva</label>
            <label ng-if="cerimonia.genero.noivo === 'm'">Pai do Noivo</label>
            <input type="text" name="paiNoivo" ng-model="cerimonia.dados.ConfiguracaoConvite.Pai_noivo" ng-change="$scope.paisChange = true"
              ng-true-value="'true'" ng-false-value="'false'">
          </md-input-container>
          <md-input-container>
            <md-checkbox ng-model="cerimonia.dados.ConfiguracaoConvite.Pai_noivo_in_memoriam" ng-change="$scope.paisChange = true" ng-true-value="'true'"
              ng-false-value="'false'">In Memorian</md-checkbox>
          </md-input-container>
        </div>
        <div>
          <md-input-container>
            <label ng-if="cerimonia.genero.noivo === 'f'">Mãe da Noiva</label>
            <label ng-if="cerimonia.genero.noivo === 'm'">Mãe do Noivo</label>
            <input type="text" name="maeNoivo" ng-model="cerimonia.dados.ConfiguracaoConvite.Mae_noivo" ng-change="$scope.paisChange = true">
          </md-input-container>
          <md-input-container>
            <md-checkbox ng-model="cerimonia.dados.ConfiguracaoConvite.Mae_noivo_in_memoriam" ng-change="$scope.paisChange = true" ng-true-value="'true'"
              ng-false-value="'false'">In Memorian</md-checkbox>
          </md-input-container>
        </div>
      </div>
    </div>
    <div layout-padding ng-show="$scope.paisChange">
      <md-button class="md-primary md-raised" ng-click="cerimonia.Salvar();$scope.paisChange = false" ng-disabled="formRecepcao.$invalid">Salvar</md-button>
      <md-button class="md-warn md-raised" ng-click="cerimonia.Cancelar();$scope.paisChange = false">Cancelar</md-button>
    </div>
  </md-content>
</section>